In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
# Import API key
from config import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

605

In [7]:
#URL for OpenWeather API
url = "http://api.openweathermap.org/data/2.5/weather?q="
#List to hold API responses
responses = []
#For loop to pull data for each of the first 60 cities in the list
#Put for loop into function for easy calling to not exceed call limit per minute
def api_call(x, y, set):
    count = 1
    for city in cities[x:y]:
        city_url = url + f"{city}&units=imperial&appid={api_key}"
        response = requests.get(city_url).json()
        responses.append(response)
        if response['cod'] == '404':
            print('City not found. Skipping...')
        else:
            print(f"Processing Record {count} of Set {set} | {city}")
            count += 1

In [8]:
#Calling function to get the data over time (placed in different cells to avoid this problem)
api_call(0,60,1)

City not found. Skipping...
Processing Record 1 of Set 1 | barrow
Processing Record 2 of Set 1 | intampilan
Processing Record 3 of Set 1 | jamestown
Processing Record 4 of Set 1 | hobart
Processing Record 5 of Set 1 | vezirkopru
City not found. Skipping...
Processing Record 6 of Set 1 | thompson
Processing Record 7 of Set 1 | provideniya
Processing Record 8 of Set 1 | puerto ayora
Processing Record 9 of Set 1 | abnub
Processing Record 10 of Set 1 | rikitea
Processing Record 11 of Set 1 | daru
Processing Record 12 of Set 1 | atuona
Processing Record 13 of Set 1 | sita road
Processing Record 14 of Set 1 | necochea
City not found. Skipping...
Processing Record 15 of Set 1 | ambon
Processing Record 16 of Set 1 | avarua
Processing Record 17 of Set 1 | paris
City not found. Skipping...
Processing Record 18 of Set 1 | odessa
Processing Record 19 of Set 1 | sisophon
Processing Record 20 of Set 1 | half moon bay
Processing Record 21 of Set 1 | vaini
City not found. Skipping...
Processing Record 22 of Set 1 | tiksi
Processing Record 23 of Set 1 | port alfred
Processing Record 24 of Set 1 | hermanus
Processing Record 25 of Set 1 | chuy
Processing Record 26 of Set 1 | leningradskiy
Processing Record 27 of Set 1 | mar del plata
Processing Record 28 of Set 1 | mataura
Processing Record 29 of Set 1 | luau
Processing Record 30 of Set 1 | palana
Processing Record 31 of Set 1 | ushuaia
Processing Record 32 of Set 1 | innisfail
Processing Record 33 of Set 1 | itaituba
Processing Record 34 of Set 1 | karasjok
Processing Record 35 of Set 1 | cherskiy
Processing Record 36 of Set 1 | burnie
Processing Record 37 of Set 1 | xiaoweizhai
Processing Record 38 of Set 1 | ribeira grande
Processing Record 39 of Set 1 | port keats
Processing Record 40 of Set 1 | qaanaaq
Processing Record 41 of Set 1 | kapaa
Processing Record 42 of Set 1 | iskateley
Processing Record 43 of Set 1 | polyarnyy
Processing Record 44 of Set 1 | bluff
Processing Record 45 of Set 1 | busselton
Processing Record 46 of Set 1 | ilulissat
Processing Record 47 of Set 1 | jiayuguan
Processing Record 48 of Set 1 | avera
Processing Record 49 of Set 1 | alyangula
City not found. Skipping...
Processing Record 50 of Set 1 | new norfolk
Processing Record 51 of Set 1 | nikolskoye
Processing Record 52 of Set 1 | hithadhoo
Processing Record 53 of Set 1 | itarema
Processing Record 54 of Set 1 | hangu

In [9]:
#Call for data to city index 120
api_call(60,121,2)

Processing Record 1 of Set 2 | manbij
Processing Record 2 of Set 2 | novosheshminsk
Processing Record 3 of Set 2 | bambous virieux
Processing Record 4 of Set 2 | ancud
Processing Record 5 of Set 2 | dingle
Processing Record 6 of Set 2 | eureka
Processing Record 7 of Set 2 | arraial do cabo
Processing Record 8 of Set 2 | padang
Processing Record 9 of Set 2 | lebu
Processing Record 10 of Set 2 | codrington
Processing Record 11 of Set 2 | yellowknife
Processing Record 12 of Set 2 | ipixuna
Processing Record 13 of Set 2 | pevek
Processing Record 14 of Set 2 | vila franca do campo
City not found. Skipping...
Processing Record 15 of Set 2 | albany
Processing Record 16 of Set 2 | rio branco
Processing Record 17 of Set 2 | cape town
Processing Record 18 of Set 2 | okhotsk
Processing Record 19 of Set 2 | lavrentiya
Processing Record 20 of Set 2 | tasiilaq
Processing Record 21 of Set 2 | punta arenas
Processing Record 22 of Set 2 | tutoia
Processing Record 23 of Set 2 | castro
City not found. Skipping...
Processing Record 24 of Set 2 | caravelas
Processing Record 25 of Set 2 | kahului
City not found. Skipping...
Processing Record 26 of Set 2 | san cristobal
Processing Record 27 of Set 2 | tuatapere
Processing Record 28 of Set 2 | penarroya-pueblonuevo
Processing Record 29 of Set 2 | tete
Processing Record 30 of Set 2 | tsumeb
Processing Record 31 of Set 2 | chokurdakh
Processing Record 32 of Set 2 | hamilton
Processing Record 33 of Set 2 | bredasdorp
Processing Record 34 of Set 2 | port hardy
Processing Record 35 of Set 2 | naigarhi
Processing Record 36 of Set 2 | victoria point
Processing Record 37 of Set 2 | georgetown
Processing Record 38 of Set 2 | hasaki
Processing Record 39 of Set 2 | saint-georges
Processing Record 40 of Set 2 | kodiak
Processing Record 41 of Set 2 | ostrovnoy
City not found. Skipping...
Processing Record 42 of Set 2 | westport
Processing Record 43 of Set 2 | altay
Processing Record 44 of Set 2 | isfana
Processing Record 45 of Set 2 | todos santos
Processing Record 46 of Set 2 | alghero
Processing Record 47 of Set 2 | longyearbyen
Processing Record 48 of Set 2 | huangmei
Processing Record 49 of Set 2 | puerto escondido
Processing Record 50 of Set 2 | kisangani
Processing Record 51 of Set 2 | port elizabeth
Processing Record 52 of Set 2 | salalah
Processing Record 53 of Set 2 | honiara
Processing Record 54 of Set 2 | hyderabad
Processing Record 55 of Set 2 | aktau
Processing Record 56 of Set 2 | lexington
Processing Record 57 of Set 2 | tongzi

In [10]:
#to index 181
api_call(121, 182,3)

Processing Record 1 of Set 3 | maltahohe
Processing Record 2 of Set 3 | porto novo
Processing Record 3 of Set 3 | sao filipe
Processing Record 4 of Set 3 | dembi dolo
Processing Record 5 of Set 3 | san juan
Processing Record 6 of Set 3 | luderitz
Processing Record 7 of Set 3 | hilo
Processing Record 8 of Set 3 | qeshm
Processing Record 9 of Set 3 | ketchikan
City not found. Skipping...
Processing Record 10 of Set 3 | san rafael
Processing Record 11 of Set 3 | macklin
Processing Record 12 of Set 3 | vallenar
Processing Record 13 of Set 3 | koumac
Processing Record 14 of Set 3 | saint george
Processing Record 15 of Set 3 | east london
Processing Record 16 of Set 3 | klyuchi
City not found. Skipping...
Processing Record 17 of Set 3 | butaritari
Processing Record 18 of Set 3 | torbay
Processing Record 19 of Set 3 | shivrajpur
Processing Record 20 of Set 3 | mocuba
Processing Record 21 of Set 3 | tuktoyaktuk
Processing Record 22 of Set 3 | cidreira
Processing Record 23 of Set 3 | severo-kurilsk
Processing Record 24 of Set 3 | khatanga
Processing Record 25 of Set 3 | mount gambier
Processing Record 26 of Set 3 | ponta do sol
Processing Record 27 of Set 3 | nanortalik
Processing Record 28 of Set 3 | kankan
Processing Record 29 of Set 3 | nabire
Processing Record 30 of Set 3 | sorland
Processing Record 31 of Set 3 | geraldton
Processing Record 32 of Set 3 | namatanai
Processing Record 33 of Set 3 | port blair
Processing Record 34 of Set 3 | lorengau
City not found. Skipping...
Processing Record 35 of Set 3 | luganville
Processing Record 36 of Set 3 | karratha
City not found. Skipping...
Processing Record 37 of Set 3 | sindor
Processing Record 38 of Set 3 | dongsheng
Processing Record 39 of Set 3 | carnarvon
Processing Record 40 of Set 3 | balabac
Processing Record 41 of Set 3 | lahij
Processing Record 42 of Set 3 | rabaul
Processing Record 43 of Set 3 | makakilo city
Processing Record 44 of Set 3 | katsuura
Processing Record 45 of Set 3 | esperance
City not found. Skipping...
Processing Record 46 of Set 3 | pallasovka
Processing Record 47 of Set 3 | dedovichi
Processing Record 48 of Set 3 | fortuna
Processing Record 49 of Set 3 | coihaique
Processing Record 50 of Set 3 | raudeberg
Processing Record 51 of Set 3 | san quintin
Processing Record 52 of Set 3 | awjilah
Processing Record 53 of Set 3 | chapais
City not found. Skipping...
Processing Record 54 of Set 3 | norman wells
Processing Record 55 of Set 3 | faya

In [11]:
#to index 242
api_call(182,243,4)

Processing Record 1 of Set 4 | kita
Processing Record 2 of Set 4 | dvinskoy
Processing Record 3 of Set 4 | weligama
Processing Record 4 of Set 4 | kupang
Processing Record 5 of Set 4 | bonthe
Processing Record 6 of Set 4 | odienne
Processing Record 7 of Set 4 | gudari
Processing Record 8 of Set 4 | walvis bay
Processing Record 9 of Set 4 | khash
Processing Record 10 of Set 4 | ahipara
City not found. Skipping...
Processing Record 11 of Set 4 | mareeba
City not found. Skipping...
Processing Record 12 of Set 4 | cap malheureux
Processing Record 13 of Set 4 | manta
Processing Record 14 of Set 4 | maceio
Processing Record 15 of Set 4 | lagoa
Processing Record 16 of Set 4 | aksu
City not found. Skipping...
Processing Record 17 of Set 4 | alto piquiri
Processing Record 18 of Set 4 | yatou
Processing Record 19 of Set 4 | port macquarie
Processing Record 20 of Set 4 | lucapa
Processing Record 21 of Set 4 | beringovskiy
Processing Record 22 of Set 4 | neftcala
Processing Record 23 of Set 4 | te anau
Processing Record 24 of Set 4 | porto de moz
Processing Record 25 of Set 4 | manzanillo
Processing Record 26 of Set 4 | taltal
Processing Record 27 of Set 4 | amarillo
Processing Record 28 of Set 4 | gardendale
Processing Record 29 of Set 4 | bethel
Processing Record 30 of Set 4 | carberry
Processing Record 31 of Set 4 | coahuayana
Processing Record 32 of Set 4 | gueugnon
Processing Record 33 of Set 4 | japura
Processing Record 34 of Set 4 | yarensk
Processing Record 35 of Set 4 | yar-sale
Processing Record 36 of Set 4 | luang prabang
Processing Record 37 of Set 4 | port lincoln
Processing Record 38 of Set 4 | hualmay
Processing Record 39 of Set 4 | mazyr
Processing Record 40 of Set 4 | bengkulu
Processing Record 41 of Set 4 | high rock
Processing Record 42 of Set 4 | arbagar
Processing Record 43 of Set 4 | hay river
Processing Record 44 of Set 4 | adrar
Processing Record 45 of Set 4 | upernavik
Processing Record 46 of Set 4 | nieuw nickerie
Processing Record 47 of Set 4 | zhanaozen
Processing Record 48 of Set 4 | biltine
Processing Record 49 of Set 4 | elizabeth city
Processing Record 50 of Set 4 | panzhihua
Processing Record 51 of Set 4 | pronsk
Processing Record 52 of Set 4 | buala
Processing Record 53 of Set 4 | tabuk
Processing Record 54 of Set 4 | cabo san lucas
Processing Record 55 of Set 4 | changji
Processing Record 56 of Set 4 | luanda
Processing Record 57 of Set 4 | mackay
Processing Record 58 of Set 4 | vao

In [12]:
#to index 302
api_call(243,303,5)

Processing Record 1 of Set 5 | nemuro
Processing Record 2 of Set 5 | haines junction
Processing Record 3 of Set 5 | sambava
Processing Record 4 of Set 5 | komsomolskiy
Processing Record 5 of Set 5 | tabou
Processing Record 6 of Set 5 | ambilobe
Processing Record 7 of Set 5 | san patricio
Processing Record 8 of Set 5 | nirasaki
Processing Record 9 of Set 5 | san pedro
Processing Record 10 of Set 5 | seddon
Processing Record 11 of Set 5 | gat
City not found. Skipping...
City not found. Skipping...
Processing Record 12 of Set 5 | were ilu
Processing Record 13 of Set 5 | lons-le-saunier
Processing Record 14 of Set 5 | saint-philippe
Processing Record 15 of Set 5 | samana
Processing Record 16 of Set 5 | ratnagiri
Processing Record 17 of Set 5 | oranjestad
Processing Record 18 of Set 5 | kaitangata
Processing Record 19 of Set 5 | deming
Processing Record 20 of Set 5 | atherton
Processing Record 21 of Set 5 | paamiut
Processing Record 22 of Set 5 | vestmannaeyjar
Processing Record 23 of Set 5 | saint-francois
Processing Record 24 of Set 5 | souillac
Processing Record 25 of Set 5 | luwingu
Processing Record 26 of Set 5 | iqaluit
Processing Record 27 of Set 5 | guarapuava
Processing Record 28 of Set 5 | inhambane
Processing Record 29 of Set 5 | morgan city
Processing Record 30 of Set 5 | bismarck
Processing Record 31 of Set 5 | airai
Processing Record 32 of Set 5 | labuhan
Processing Record 33 of Set 5 | sherpur
Processing Record 34 of Set 5 | rapid valley
Processing Record 35 of Set 5 | evans
Processing Record 36 of Set 5 | faanui
City not found. Skipping...
Processing Record 37 of Set 5 | shache
Processing Record 38 of Set 5 | polczyn-zdroj
Processing Record 39 of Set 5 | revda
City not found. Skipping...
Processing Record 40 of Set 5 | havelock
City not found. Skipping...
Processing Record 41 of Set 5 | maraba
Processing Record 42 of Set 5 | portland
Processing Record 43 of Set 5 | melfort
Processing Record 44 of Set 5 | hailar
Processing Record 45 of Set 5 | horodyshche
Processing Record 46 of Set 5 | bathsheba
Processing Record 47 of Set 5 | micheweni
Processing Record 48 of Set 5 | santa cruz de tenerife
Processing Record 49 of Set 5 | basavakalyan
Processing Record 50 of Set 5 | biak
Processing Record 51 of Set 5 | korla
Processing Record 52 of Set 5 | pochutla
Processing Record 53 of Set 5 | halifax
Processing Record 54 of Set 5 | toora-khem
Processing Record 55 of Set 5 | hofn

In [13]:
#to index 362
api_call(303, 363,6)

Processing Record 1 of Set 6 | lagunas
Processing Record 2 of Set 6 | izhma
Processing Record 3 of Set 6 | antofagasta
Processing Record 4 of Set 6 | saskylakh
Processing Record 5 of Set 6 | merritt island
Processing Record 6 of Set 6 | zeya
Processing Record 7 of Set 6 | loudeac
Processing Record 8 of Set 6 | gravdal
Processing Record 9 of Set 6 | yola
Processing Record 10 of Set 6 | zachary
Processing Record 11 of Set 6 | mweka
Processing Record 12 of Set 6 | victoria
Processing Record 13 of Set 6 | zaozerne
Processing Record 14 of Set 6 | kharsia
Processing Record 15 of Set 6 | rawson
Processing Record 16 of Set 6 | kununurra
Processing Record 17 of Set 6 | svobodnyy
Processing Record 18 of Set 6 | dikson
Processing Record 19 of Set 6 | kingisepp
Processing Record 20 of Set 6 | constantine
Processing Record 21 of Set 6 | carutapera
Processing Record 22 of Set 6 | severo-yeniseyskiy
Processing Record 23 of Set 6 | akcaabat
Processing Record 24 of Set 6 | andenes
Processing Record 25 of Set 6 | kargasok
Processing Record 26 of Set 6 | svetlogorsk
Processing Record 27 of Set 6 | martapura
Processing Record 28 of Set 6 | sembakung
Processing Record 29 of Set 6 | mahebourg
Processing Record 30 of Set 6 | osoyoos
Processing Record 31 of Set 6 | christchurch
Processing Record 32 of Set 6 | douglas
Processing Record 33 of Set 6 | rodrigues alves
Processing Record 34 of Set 6 | ternate
Processing Record 35 of Set 6 | aswan
Processing Record 36 of Set 6 | hami
City not found. Skipping...
City not found. Skipping...
Processing Record 37 of Set 6 | livingston
Processing Record 38 of Set 6 | lyubech
Processing Record 39 of Set 6 | chicama
Processing Record 40 of Set 6 | dahod
Processing Record 41 of Set 6 | mae hong son
Processing Record 42 of Set 6 | port lavaca
Processing Record 43 of Set 6 | honningsvag
Processing Record 44 of Set 6 | tadine
City not found. Skipping...
Processing Record 45 of Set 6 | yerofey pavlovich
Processing Record 46 of Set 6 | saint anthony
Processing Record 47 of Set 6 | coquimbo
City not found. Skipping...
Processing Record 48 of Set 6 | chinsali
Processing Record 49 of Set 6 | korcula
Processing Record 50 of Set 6 | lardos
Processing Record 51 of Set 6 | south venice
Processing Record 52 of Set 6 | narsaq
Processing Record 53 of Set 6 | sibolga
Processing Record 54 of Set 6 | zhaotong
Processing Record 55 of Set 6 | pipar
Processing Record 56 of Set 6 | nova vicosa

In [14]:
#to index 422
api_call(363, 423,7)

Processing Record 1 of Set 7 | szczytno
Processing Record 2 of Set 7 | trelew
Processing Record 3 of Set 7 | alice springs
Processing Record 4 of Set 7 | matara
Processing Record 5 of Set 7 | gay
Processing Record 6 of Set 7 | santa catarina
Processing Record 7 of Set 7 | salym
Processing Record 8 of Set 7 | karaman
Processing Record 9 of Set 7 | camana
Processing Record 10 of Set 7 | naze
Processing Record 11 of Set 7 | poum
Processing Record 12 of Set 7 | alta floresta
Processing Record 13 of Set 7 | la union
Processing Record 14 of Set 7 | galesong
Processing Record 15 of Set 7 | ixtapa
City not found. Skipping...
Processing Record 16 of Set 7 | acapulco
Processing Record 17 of Set 7 | gbarnga
Processing Record 18 of Set 7 | anadyr
City not found. Skipping...
Processing Record 19 of Set 7 | comodoro rivadavia
Processing Record 20 of Set 7 | paragominas
Processing Record 21 of Set 7 | umm lajj
Processing Record 22 of Set 7 | mauguio
City not found. Skipping...
Processing Record 23 of Set 7 | zaoyang
Processing Record 24 of Set 7 | suez
Processing Record 25 of Set 7 | great falls
City not found. Skipping...
Processing Record 26 of Set 7 | along
Processing Record 27 of Set 7 | sainte-rose
Processing Record 28 of Set 7 | valparaiso
Processing Record 29 of Set 7 | pisco
Processing Record 30 of Set 7 | esmeraldas
Processing Record 31 of Set 7 | clyde river
Processing Record 32 of Set 7 | tromso
Processing Record 33 of Set 7 | mogadishu
Processing Record 34 of Set 7 | alnashi
Processing Record 35 of Set 7 | lano
Processing Record 36 of Set 7 | fort-shevchenko
Processing Record 37 of Set 7 | dunedin
Processing Record 38 of Set 7 | monrovia
Processing Record 39 of Set 7 | grants pass
Processing Record 40 of Set 7 | ponta delgada
Processing Record 41 of Set 7 | payakumbuh
Processing Record 42 of Set 7 | kavieng
Processing Record 43 of Set 7 | rivadavia
Processing Record 44 of Set 7 | oranjemund
Processing Record 45 of Set 7 | bongouanou
Processing Record 46 of Set 7 | teguldet
Processing Record 47 of Set 7 | port hedland
Processing Record 48 of Set 7 | tiznit
Processing Record 49 of Set 7 | santa cruz
Processing Record 50 of Set 7 | storforshei
Processing Record 51 of Set 7 | astara
City not found. Skipping...
Processing Record 52 of Set 7 | bonavista
Processing Record 53 of Set 7 | doaba
Processing Record 54 of Set 7 | bezhetsk
Processing Record 55 of Set 7 | morehead

In [15]:
#to index 482
api_call(423,483,8)

Processing Record 1 of Set 8 | vanimo
Processing Record 2 of Set 8 | klaksvik
Processing Record 3 of Set 8 | isangel
Processing Record 4 of Set 8 | champerico
Processing Record 5 of Set 8 | bafoulabe
Processing Record 6 of Set 8 | colon
Processing Record 7 of Set 8 | bodden town
Processing Record 8 of Set 8 | saldanha
City not found. Skipping...
City not found. Skipping...
Processing Record 9 of Set 8 | mulanur
Processing Record 10 of Set 8 | tabas
Processing Record 11 of Set 8 | pozo colorado
Processing Record 12 of Set 8 | victor harbor
Processing Record 13 of Set 8 | kieta
Processing Record 14 of Set 8 | parabel
Processing Record 15 of Set 8 | umm kaddadah
Processing Record 16 of Set 8 | mbini
Processing Record 17 of Set 8 | bankura
Processing Record 18 of Set 8 | abu dhabi
Processing Record 19 of Set 8 | maua
Processing Record 20 of Set 8 | khandbari
Processing Record 21 of Set 8 | beyneu
Processing Record 22 of Set 8 | sitka
Processing Record 23 of Set 8 | zverinogolovskoye
Processing Record 24 of Set 8 | amapa
City not found. Skipping...
Processing Record 25 of Set 8 | kargat
Processing Record 26 of Set 8 | jacareacanga
Processing Record 27 of Set 8 | quelimane
Processing Record 28 of Set 8 | dom pedrito
Processing Record 29 of Set 8 | rosiesti
Processing Record 30 of Set 8 | huanren
Processing Record 31 of Set 8 | havre-saint-pierre
Processing Record 32 of Set 8 | alenquer
Processing Record 33 of Set 8 | straumen
Processing Record 34 of Set 8 | la libertad
Processing Record 35 of Set 8 | udachnyy
Processing Record 36 of Set 8 | nikolayevka
Processing Record 37 of Set 8 | acarau
Processing Record 38 of Set 8 | durham
Processing Record 39 of Set 8 | zhuhai
City not found. Skipping...
Processing Record 40 of Set 8 | amlagora
Processing Record 41 of Set 8 | evensk
Processing Record 42 of Set 8 | srednekolymsk
Processing Record 43 of Set 8 | tommot
City not found. Skipping...
Processing Record 44 of Set 8 | atessa
Processing Record 45 of Set 8 | umm bab
Processing Record 46 of Set 8 | parrita
Processing Record 47 of Set 8 | margate
Processing Record 48 of Set 8 | mykolayiv
Processing Record 49 of Set 8 | zyryanka
Processing Record 50 of Set 8 | kimbe
Processing Record 51 of Set 8 | maridi
Processing Record 52 of Set 8 | machali
City not found. Skipping...
Processing Record 53 of Set 8 | guerrero negro
Processing Record 54 of Set 8 | mount isa

In [16]:
#to index 542
api_call(483,543,9)

Processing Record 1 of Set 9 | atambua
Processing Record 2 of Set 9 | barpathar
Processing Record 3 of Set 9 | alcaudete
Processing Record 4 of Set 9 | sao joao da barra
Processing Record 5 of Set 9 | eyl
Processing Record 6 of Set 9 | vostok
City not found. Skipping...
Processing Record 7 of Set 9 | chilliwack
Processing Record 8 of Set 9 | nioro
Processing Record 9 of Set 9 | kon tum
Processing Record 10 of Set 9 | hinton
Processing Record 11 of Set 9 | prince rupert
Processing Record 12 of Set 9 | jalu
Processing Record 13 of Set 9 | morondava
City not found. Skipping...
Processing Record 14 of Set 9 | pemangkat
Processing Record 15 of Set 9 | bela vista de goias
Processing Record 16 of Set 9 | cabedelo
Processing Record 17 of Set 9 | praia da vitoria
Processing Record 18 of Set 9 | la rioja
City not found. Skipping...
Processing Record 19 of Set 9 | poronaysk
Processing Record 20 of Set 9 | grindavik
Processing Record 21 of Set 9 | grand-santi
City not found. Skipping...
Processing Record 22 of Set 9 | noumea
Processing Record 23 of Set 9 | kungurtug
Processing Record 24 of Set 9 | kasongo
Processing Record 25 of Set 9 | cap-aux-meules
Processing Record 26 of Set 9 | ca mau
Processing Record 27 of Set 9 | rio cuarto
Processing Record 28 of Set 9 | talnakh
Processing Record 29 of Set 9 | byron bay
Processing Record 30 of Set 9 | lodja
City not found. Skipping...
Processing Record 31 of Set 9 | san juan del sur
Processing Record 32 of Set 9 | griffith
Processing Record 33 of Set 9 | kodinsk
Processing Record 34 of Set 9 | russkiy
Processing Record 35 of Set 9 | iwanai
Processing Record 36 of Set 9 | saint john
Processing Record 37 of Set 9 | zhigansk
Processing Record 38 of Set 9 | fare
Processing Record 39 of Set 9 | shimoda
Processing Record 40 of Set 9 | guilin
Processing Record 41 of Set 9 | mnogovershinnyy
Processing Record 42 of Set 9 | nishihara
Processing Record 43 of Set 9 | bucerias
Processing Record 44 of Set 9 | road town
Processing Record 45 of Set 9 | waw
Processing Record 46 of Set 9 | goya
Processing Record 47 of Set 9 | berlevag
Processing Record 48 of Set 9 | manono
Processing Record 49 of Set 9 | bozeman
Processing Record 50 of Set 9 | kavaratti
Processing Record 51 of Set 9 | ngunguru
Processing Record 52 of Set 9 | yining
Processing Record 53 of Set 9 | jutai
Processing Record 54 of Set 9 | banff
Processing Record 55 of Set 9 | am timan

In [17]:
#to index 602
api_call(543,603,10)

Processing Record 1 of Set 10 | fredericksburg
City not found. Skipping...
Processing Record 2 of Set 10 | nome
Processing Record 3 of Set 10 | goderich
Processing Record 4 of Set 10 | leshukonskoye
Processing Record 5 of Set 10 | saint-augustin
Processing Record 6 of Set 10 | kaya
Processing Record 7 of Set 10 | bure
Processing Record 8 of Set 10 | namibe
City not found. Skipping...
Processing Record 9 of Set 10 | tahoua
Processing Record 10 of Set 10 | emba
Processing Record 11 of Set 10 | olafsvik
Processing Record 12 of Set 10 | yulara
Processing Record 13 of Set 10 | svetlyy
City not found. Skipping...
Processing Record 14 of Set 10 | potosi
Processing Record 15 of Set 10 | san policarpo
Processing Record 16 of Set 10 | kruisfontein
Processing Record 17 of Set 10 | esfarayen
Processing Record 18 of Set 10 | maguling
Processing Record 19 of Set 10 | agadir
Processing Record 20 of Set 10 | kuruman
Processing Record 21 of Set 10 | elko
Processing Record 22 of Set 10 | bontang
Processing Record 23 of Set 10 | limay
Processing Record 24 of Set 10 | pemba
Processing Record 25 of Set 10 | conceicao do araguaia
Processing Record 26 of Set 10 | vardo
City not found. Skipping...
Processing Record 27 of Set 10 | tornio
Processing Record 28 of Set 10 | dumas
Processing Record 29 of Set 10 | husavik
Processing Record 30 of Set 10 | kasongo-lunda
Processing Record 31 of Set 10 | vila velha
Processing Record 32 of Set 10 | tilichiki
Processing Record 33 of Set 10 | whitehaven
Processing Record 34 of Set 10 | tura
Processing Record 35 of Set 10 | petropavlovsk-kamchatskiy
Processing Record 36 of Set 10 | guaruja
Processing Record 37 of Set 10 | lompoc
Processing Record 38 of Set 10 | odweyne
Processing Record 39 of Set 10 | payo
Processing Record 40 of Set 10 | the valley
City not found. Skipping...
Processing Record 41 of Set 10 | manokwari
Processing Record 42 of Set 10 | vitim
Processing Record 43 of Set 10 | chateauroux
Processing Record 44 of Set 10 | lannion
Processing Record 45 of Set 10 | tulum
Processing Record 46 of Set 10 | samdrup jongkhar
Processing Record 47 of Set 10 | vestmanna
Processing Record 48 of Set 10 | fukue
Processing Record 49 of Set 10 | meybod
Processing Record 50 of Set 10 | viedma
Processing Record 51 of Set 10 | college
Processing Record 52 of Set 10 | tucurui
Processing Record 53 of Set 10 | visby
City not found. Skipping...
Processing Record 54 of Set 10 | soubre

In [18]:
#to index 605(end)
api_call(603,606,11)

Processing Record 1 of Set 11 | mount pleasant
Processing Record 2 of Set 11 | brae

In [19]:
#check that data was pulled
len(responses)

605

In [20]:
#Create a dataframe of the API data
df = pd.DataFrame(responses)
#drop rows with no data
index_drop = df.loc[df['cod'] == '404'].index.to_list()
df = df.drop(index_drop)
df = df.reset_index(drop=True)
df.head()

,cod,message,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,rain,snow
0,200,NaN,"{'lon': -156.79, 'lat': 71.29}","[{'id': 701, 'main': 'Mist', 'description': 'm...",stations,"{'temp': -14.8, 'feels_like': -26.18, 'temp_mi...",9656.0,"{'speed': 8.05, 'deg': 250}",{'all': 90},1.583694e+09,"{'type': 1, 'id': 7649, 'country': 'US', 'sunr...",-28800.0,5880054.0,Barrow,NaN,NaN
1,200,NaN,"{'lon': 122.74, 'lat': 11.48}","[{'id': 802, 'main': 'Clouds', 'description': ...",stations,"{'temp': 74.1, 'feels_like': 81.82, 'temp_min'...",NaN,"{'speed': 1.63, 'deg': 141}",{'all': 29},1.583694e+09,"{'country': 'PH', 'sunrise': 1583704795, 'suns...",28800.0,1710655.0,Intampilan,NaN,NaN
2,200,NaN,"{'lon': -79.24, 'lat': 42.1}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 51.89, 'feels_like': 42.58, 'temp_min...",16093.0,"{'speed': 8.05, 'deg': 210}",{'all': 1},1.583694e+09,"{'type': 1, 'id': 4588, 'country': 'US', 'sunr...",-14400.0,5122534.0,Jamestown,NaN,NaN
3,200,NaN,"{'lon': 147.33, 'lat': -42.88}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 49.95, 'feels_like': 45.63, 'temp_min...",10000.0,"{'speed': 4.7, 'deg': 270}",{'all': 90},1.583694e+09,"{'type': 1, 'id': 9545, 'country': 'AU', 'sunr...",39600.0,2163355.0,Hobart,NaN,NaN
4,200,NaN,"{'lon': 35.45, 'lat': 41.14}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 55.4, 'feels_like': 50.92, 'temp_min'...",10000.0,"{'speed': 2.57, 'deg': 206}",{'all': 100},1.583694e+09,"{'type': 1, 'id': 6960, 'country': 'TR', 'sunr...",10800.0,738167.0,Vezirköprü,NaN,NaN

In [21]:
#Create a list out of the countries for the cities
countries = []
sys_data = dict(df['sys'])
city_count = 0
for city in sys_data:
    countries.append(sys_data[city_count]['country'])
    city_count += 1
countries

['US',
 'PH',
 'US',
 'AU',
 'TR',
 'CA',
 'RU',
 'EC',
 'EG',
 'PF',
 'PG',
 'PF',
 'PK',
 'AR',
 'ID',
 'CK',
 'FR',
 'UA',
 'KH',
 'US',
 'TO',
 'RU',
 'ZA',
 'ZA',
 'UY',
 'RU',
 'AR',
 'NZ',
 'AO',
 'RU',
 'AR',
 'AU',
 'BR',
 'NO',
 'RU',
 'AU',
 'CN',
 'PT',
 'AU',
 'GL',
 'US',
 'RU',
 'RU',
 'NZ',
 'AU',
 'GL',
 'CN',
 'US',
 'AU',
 'AU',
 'RU',
 'MV',
 'BR',
 'CN',
 'SY',
 'RU',
 'MU',
 'CL',
 'PH',
 'US',
 'BR',
 'ID',
 'CL',
 'AU',
 'CA',
 'BR',
 'RU',
 'PT',
 'US',
 'BR',
 'ZA',
 'RU',
 'RU',
 'GL',
 'CL',
 'BR',
 'BR',
 'BR',
 'US',
 'VE',
 'NZ',
 'ES',
 'MZ',
 'NA',
 'RU',
 'US',
 'ZA',
 'CA',
 'IN',
 'AU',
 'MY',
 'JP',
 'GD',
 'US',
 'RU',
 'US',
 'CN',
 'KG',
 'MX',
 'IT',
 'SJ',
 'CN',
 'MX',
 'CD',
 'ZA',
 'OM',
 'SB',
 'IN',
 'KZ',
 'US',
 'CN',
 'NA',
 'BJ',
 'CV',
 'ET',
 'AR',
 'NA',
 'US',
 'IR',
 'US',
 'AR',
 'CA',
 'CL',
 'NC',
 'US',
 'ZA',
 'RU',
 'KI',
 'CA',
 'IN',
 'MZ',
 'CA',
 'BR',
 'RU',
 'RU',
 'AU',
 'PT',
 'GL',
 'GN',
 'ID',
 'NO',
 'AU',
 'PG',
 'IN',
 'PG',
 'VU',
 'AU',
 'RU',
 'CN',
 'AU',
 'PH',
 'YE',
 'PG',
 'US',
 'JP',
 'AU',
 'RU',
 'RU',
 'US',
 'CL',
 'NO',
 'MX',
 'LY',
 'CA',
 'CA',
 'SA',
 'ML',
 'RU',
 'LK',
 'ID',
 'SL',
 'CI',
 'IN',
 'NA',
 'IR',
 'NZ',
 'AU',
 'MU',
 'EC',
 'BR',
 'PT',
 'CN',
 'BR',
 'CN',
 'AU',
 'AO',
 'RU',
 'AZ',
 'NZ',
 'BR',
 'CU',
 'CL',
 'US',
 'US',
 'US',
 'CA',
 'MX',
 'FR',
 'ID',
 'RU',
 'RU',
 'LA',
 'AU',
 'PE',
 'BY',
 'ID',
 'BS',
 'RU',
 'CA',
 'MR',
 'GL',
 'SR',
 'KZ',
 'TD',
 'US',
 'CN',
 'RU',
 'SB',
 'PH',
 'MX',
 'CN',
 'AO',
 'AU',
 'NC',
 'JP',
 'CA',
 'MG',
 'UZ',
 'CI',
 'MG',
 'MX',
 'JP',
 'PH',
 'AU',
 'IL',
 'ET',
 'FR',
 'RE',
 'DO',
 'IN',
 'AW',
 'NZ',
 'US',
 'GB',
 'GL',
 'IS',
 'FR',
 'MU',
 'ZM',
 'CA',
 'BR',
 'MZ',
 'US',
 'US',
 'TL',
 'ID',
 'BD',
 'US',
 'US',
 'PF',
 'CN',
 'PL',
 'RU',
 'US',
 'BR',
 'US',
 'CA',
 'CN',
 'UA',
 'BB',
 'TZ',
 'ES',
 'IN',
 'ID',
 'CN',
 'MX',
 'CA',
 'RU',
 'IS',
 'PE',
 'RU',
 'CL',
 'RU',
 'US',
 'RU',
 'FR',
 'NO',
 'NG',
 'US',
 'CD',
 'HK',
 'UA',
 'IN',
 'AR',
 'AU',
 'RU',
 'RU',
 'RU',
 'DZ',
 'BR',
 'RU',
 'TR',
 'NO',
 'RU',
 'BY',
 'ID',
 'ID',
 'MU',
 'CA',
 'NZ',
 'US',
 'BR',
 'ID',
 'EG',
 'CN',
 'GB',
 'UA',
 'PE',
 'IN',
 'TH',
 'US',
 'NO',
 'NC',
 'RU',
 'US',
 'CL',
 'ZM',
 'HR',
 'GR',
 'US',
 'GL',
 'ID',
 'CN',
 'IN',
 'BR',
 'PL',
 'AR',
 'AU',
 'LK',
 'RU',
 'BR',
 'RU',
 'TR',
 'PE',
 'JP',
 'NC',
 'BR',
 'PE',
 'ID',
 'MX',
 'MX',
 'LR',
 'RU',
 'AR',
 'BR',
 'SA',
 'FR',
 'CN',
 'EG',
 'US',
 'IN',
 'GP',
 'CL',
 'PE',
 'BR',
 'CA',
 'NO',
 'SO',
 'RU',
 'NG',
 'KZ',
 'NZ',
 'LR',
 'US',
 'PT',
 'ID',
 'PG',
 'AR',
 'NA',
 'CI',
 'RU',
 'AU',
 'MA',
 'BO',
 'NO',
 'AZ',
 'CA',
 'PK',
 'RU',
 'US',
 'PG',
 'FO',
 'VU',
 'GT',
 'ML',
 'PA',
 'KY',
 'ZA',
 'IN',
 'IR',
 'PY',
 'AU',
 'PG',
 'RU',
 'SD',
 'GQ',
 'IN',
 'AE',
 'BR',
 'NP',
 'KZ',
 'US',
 'RU',
 'BR',
 'RU',
 'BR',
 'MZ',
 'BR',
 'RO',
 'CN',
 'CA',
 'BR',
 'NO',
 'EC',
 'RU',
 'RU',
 'BR',
 'US',
 'CN',
 'IN',
 'RU',
 'RU',
 'RU',
 'IT',
 'QA',
 'CR',
 'GB',
 'UA',
 'RU',
 'PG',
 'SS',
 'CL',
 'MX',
 'AU',
 'ID',
 'IN',
 'ES',
 'BR',
 'SO',
 'RU',
 'CA',
 'GM',
 'VN',
 'CA',
 'CA',
 'LY',
 'MG',
 'ID',
 'BR',
 'BR',
 'PT',
 'ES',
 'RU',
 'IS',
 'GF',
 'NC',
 'RU',
 'CD',
 'CA',
 'VN',
 'AR',
 'RU',
 'AU',
 'CD',
 'NI',
 'US',
 'RU',
 'RU',
 'JP',
 'CA',
 'RU',
 'PF',
 'JP',
 'CN',
 'RU',
 'JP',
 'MX',
 'VG',
 'SS',
 'AR',
 'NO',
 'CD',
 'US',
 'IN',
 'NZ',
 'CN',
 'BR',
 'CA',
 'TD',
 'US',
 'US',
 'CA',
 'RU',
 'CA',
 'BF',
 'ET',
 'AO',
 'NE',
 'KZ',
 'IS',
 'AU',
 'RU',
 'BO',
 'PH',
 'ZA',
 'IR',
 'PH',
 'MA',
 'ZA',
 'US',
 'ID',
 'PH',
 'MZ',
 'BR',
 'NO',
 'FI',
 'US',
 'IS',
 'CD',
 'BR',
 'RU',
 'GB',
 'IN',
 'RU',
 'BR',
 'US',
 'SO',
 'ID',
 'AI',
 'ID',
 'RU',
 'FR',
 'FR',
 'MX',
 'BT',
 'FO',
 'JP',
 'IR',
 'AR',
 'US',
 'BR',
 'SE',
 'CI',
 'US',
 'GB']

In [22]:
#Create a list of the city names
names = df['name'].values
names

array(['Barrow', 'Intampilan', 'Jamestown', 'Hobart', 'Vezirköprü',
       'Thompson', 'Provideniya', 'Puerto Ayora', 'Abnūb', 'Rikitea',
       'Daru', 'Atuona', 'Sīta Road', 'Necochea', 'Ambon City', 'Avarua',
       'Paris', 'Odesa', 'Sisophon', 'Half Moon Bay', 'Vaini', 'Tiksi',
       'Port Alfred', 'Hermanus', 'Chui', 'Leningradskiy',
       'Mar del Plata', 'Mataura', 'Luau', 'Palana', 'Ushuaia',
       'Innisfail', 'Itaituba', 'Karasjok', 'Cherskiy', 'Burnie',
       'Xiaoweizhai', 'Ribeira Grande', 'Port Keats', 'Qaanaaq', 'Kapaa',
       'Iskateley', 'Polyarny', 'Bluff', 'Busselton', 'Ilulissat',
       'Jiayuguan City', 'Avera', 'Alyangula', 'New Norfolk',
       'Nikolskoye', 'Hithadhoo', 'Itarema', 'Hangu', 'Manbij',
       'Novosheshminsk', 'Bambous Virieux', 'Ancud', 'Dingle', 'Eureka',
       'Arraial do Cabo', 'Padang', 'Lebu', 'Codrington', 'Yellowknife',
       'Ipixuna', 'Pevek', 'Vila Franca do Campo', 'Albany', 'Rio Branco',
       'Cape Town', 'Okhotsk', 'Lavrentiya', 'Tasiilaq', 'Punta Arenas',
       'Tutóia', 'Castro', 'Caravelas', 'Kahului', 'San Cristobal',
       'Tuatapere', 'Peñarroya-Pueblonuevo', 'Tete', 'Tsumeb',
       'Chokurdakh', 'Hamilton', 'Bredasdorp', 'Port Hardy', 'Naīgarhi',
       'Victoria Point', 'George Town', 'Hasaki', "St. George's",
       'Saint Paul Harbor', 'Ostrovnoy', 'Westport', 'Altay', 'Isfana',
       'Todos Santos', 'Alghero', 'Longyearbyen', 'Huangmei',
       'Puerto Escondido', 'Kisangani', 'Port Elizabeth', 'Salalah',
       'Honiara', 'Hyderabad', 'Aktau', 'Lexington', 'Tongzi',
       'Maltahöhe', 'Porto-Novo', 'São Filipe', 'Dembī Dolo', 'San Juan',
       'Lüderitz', 'Hilo', 'Qeshm', 'Ketchikan', 'San Rafael', 'Macklin',
       'Vallenar', 'Koumac', 'Saint George', 'East London', 'Klyuchi',
       'Butaritari', 'Torbay', 'Shivrājpur', 'Mocuba', 'Tuktoyaktuk',
       'Cidreira', "Severo-Kuril'sk", 'Khatanga', 'Mount Gambier',
       'Ponta do Sol', 'Nanortalik', 'Kankan', 'Nabire', 'Sørland',
       'Geraldton', 'Namatanai', 'Port Blair', 'Lorengau', 'Luganville',
       'Karratha', 'Sindor', 'Dongsheng', 'Carnarvon', 'Balabac',
       'Muhafazat Lahij', 'Rabaul', 'Makakilo City', 'Katsuura',
       'Esperance', 'Pallasovka', 'Dedovichi', 'Fortuna', 'Coyhaique',
       'Raudeberg', 'San Quintín', 'Awjilah', 'Chapais', 'Norman Wells',
       'Faya', 'Kita', 'Dvinskoy', 'Weligama', 'Kupang', 'Bonthe',
       'Odienné', 'Gudāri', 'Walvis Bay', 'Khāsh', 'Ahipara', 'Mareeba',
       'Cap Malheureux', 'Manta', 'Maceió', 'Lagoa', 'Aksu',
       'Alto Piquiri', 'Yatou', 'Port Macquarie', 'Lucapa',
       'Beringovskiy', 'Neftçala', 'Te Anau', 'Porto de Moz',
       'Manzanillo', 'Taltal', 'Amarillo', 'Gardendale', 'Bethel',
       'Carberry', 'Coahuayana Viejo', 'Gueugnon', 'Japura', 'Yarensk',
       'Yar-Sale', 'Luang Prabang', 'Port Lincoln', 'Hualmay', 'Mazyr',
       'Bengkulu', 'High Rock', 'Arbagar', 'Hay River', 'Adrar',
       'Upernavik', 'Nieuw Nickerie', 'Zhangaözen', 'Biltine',
       'Elizabeth City', 'Panzhihua', 'Pronsk', 'Buala', 'Tabuk',
       'Cabo San Lucas', 'Changji', 'Luanda', 'Mackay', 'Vao', 'Nemuro',
       'Haines Junction', 'Sambava', 'Yangi Marg`ilon', 'Tabou',
       'Ambilobe', 'San Patricio', 'Nirasaki', 'City of San Pedro',
       'Seddon', 'Kiryat Gat', 'Were Īlu',
       'Arrondissement de Lons-le-Saunier', 'Saint-Philippe', 'Samaná',
       'Ratnagiri', 'Oranjestad', 'Kaitangata', 'Deming', 'Atherton',
       'Paamiut', 'Vestmannaeyjar', 'Saint-François', 'Souillac',
       'Luwingu', 'Iqaluit', 'Guarapuava', 'Inhambane', 'Morgan City',
       'Bismarck', 'Airai', 'Labuhan', 'Sherpur', 'Rapid Valley', 'Evans',
       'Faanui', 'Shache', 'Połczyn-Zdrój', 'Revda', 'Havelock', 'Marabá',
       'Portland', 'Melfort', 'Hailar', 'Horodyshche', 'Bathsheba',
       'Micheweni', 'Santa Cruz de Tenerife', 'Basavakalyan', 'Biak',
       'Korla', 'Pochutla', 'Halifax', 'Toora-Khem', 'Hofn', 'Lagunas',
       'Izhma', 'Antofagasta', 'Saskylakh', 'Merritt Island', 'Zeya',
       'Loudéac', 'Gravdal', 'Yola', 'Zachary', 'Mweka', 'Hong Kong',
       'Zaozyornoye', 'Kharsia', 'Rawson', 'Kununurra', 'Svobodnyy',
       'Dikson', 'Kingisepp', 'Constantine', 'Carutapera',
       'Severo-Yeniseyskiy', 'Akçaabat', 'Andenes', 'Kargasok',
       'Forsytheganj', 'Martapura', 'Sembakung', 'Mahébourg', 'Osoyoos',
       'Christchurch', 'Douglas', 'Rodrigues Alves', 'Ternate', 'Aswān',
       'Kumul', 'Livingston', 'Lyubech', 'Chicama', 'Dohad',
       'Mae Hong Son', 'Lavaca', 'Honningsvåg', 'Tadine',
       'Yerofey Pavlovich', 'Saint Anthony', 'Coquimbo', 'Chinsali',
       'Korčula', 'Lárdos', 'South Venice', 'Narsaq', 'Sibolga',
       'Zhaotong', 'Pīpār', 'Nova Viçosa', 'Szczytno', 'Trelew',
       'Alice Springs', 'Matara', 'Gay', 'Santa Catarina', 'Salym',
       'Karaman Province', 'Camaná', 'Naze', 'Poum', 'Alta Floresta',
       'La Unión', 'Galesong', 'Ixtapa', 'Acapulco de Juárez', 'Gbarnga',
       'Anadyr', 'Comodoro Rivadavia', 'Paragominas', 'Umluj', 'Mauguio',
       'Zaoyang', 'Suez', 'Great Falls', 'Along', 'Sainte-Rose',
       'Valparaíso', 'Pisco', 'Esmeraldas', 'Clyde River', 'Tromsø',
       'Mogadishu', 'Alnashi', 'Lano', 'Fort-Shevchenko', 'Dunedin',
       'Monrovia', 'Grants Pass', 'Ponta Delgada', 'Payakumbuh',
       'Kavieng', 'Rivadavia', 'Oranjemund', 'Bongouanou', "Tegul'det",
       'Port Hedland', 'Tiznit Province', 'Santa Cruz de la Sierra',
       'Storforshei', 'Astara', 'Bonavista', 'Doaba', 'Bezhetsk',
       'Morehead', 'Vanimo', 'Klaksvík', 'Isangel', 'Champerico',
       'Bafoulabé', 'Colón', 'Bodden Town', 'Saldanha', 'Mūlanūr',
       'Tabas', 'Pozo Colorado', 'Victor Harbor', 'Kieta', "Parabel'",
       'Umm Kaddadah', 'Mbini', 'Bānkura', 'Abu Dhabi', 'Mauá',
       'Khanbari', 'Beyneu', 'Sitka', 'Zverinogolovskoye', 'Amapá',
       'Kargat', 'Jacareacanga', 'Quelimane', 'Dom Pedrito', 'Roşieşti',
       'Huanren', 'Havre-St-Pierre', 'Alenquer', 'Straumen',
       'La Libertad', 'Udachny', 'Nikolayevka', 'Acaraú', 'Durham',
       'Zhuhai', 'Āmlāgora', 'Evensk', 'Srednekolymsk', 'Tommot',
       'Atessa', 'Umm Bāb', 'Parrita', 'Margate', 'Mykolayiv', 'Zyryanka',
       'Kimbe', 'Maridi', 'Machalí', 'Guerrero Negro', 'Mount Isa',
       'Atambua', 'Barpathār', 'Alcaudete', 'São João da Barra', 'Eyl',
       'Vostok', 'Chilliwack', 'Nioro', 'Kon Tum', 'Hinton',
       'Prince Rupert', 'Jalu', 'Morondava', 'Pemangkat',
       'Bela Vista de Goiás', 'Cabedelo', 'Praia da Vitória', 'La Rioja',
       'Poronaysk', 'Grindavik', 'Grand-Santi', 'Noumea', 'Kungurtug',
       'Kasongo', 'Cap-aux-Meules', 'Ca Mau', 'Río Cuarto', 'Talnakh',
       'Byron Bay', 'Lodja', 'San Juan del Sur', 'Griffith', 'Kodinsk',
       'Russkiy', 'Iwanai', 'Saint John', 'Zhigansk', 'Fare', 'Shimoda',
       'Guilin', 'Mnogovershinnyy', 'Nishihara', 'Bucerías', 'Road Town',
       'Wau', 'Goya', 'Berlevåg', 'Manono', 'Bozeman', 'Kavaratti',
       'Ngunguru', 'Yining', 'Jutaí', 'Banff', 'Am Timan',
       'Fredericksburg', 'Nome', 'Goderich', 'Leshukonskoye',
       'Saint-Augustin', 'Kaya', 'Burē', 'Mossamedes', 'Tahoua', 'Emba',
       'Olafsvik', 'Yulara', 'Tsimmerbude', 'Potosí', 'San Policarpo',
       'Kruisfontein', 'Esfarāyen', 'Maguling', 'Santa Cruz', 'Kuruman',
       'Elko', 'Bontang', 'Limay', 'Pemba', 'Conceição do Araguaia',
       'Vardø', 'Tornio', 'Dumas', 'Husavik', 'Kasongo-Lunda',
       'Vila Velha', 'Tilichiki', 'Whitehaven', 'Tura',
       'Petropavlovsk-Kamchatskiy', 'Guarujá', 'Lompoc', 'Oodweyne',
       'Payo', 'The Valley', 'Manokwari', 'Vitim', 'Châteauroux',
       'Arrondissement de Lannion', 'Tulum', 'Samdrup Jongkhar District',
       'Vestmanna', 'Fukuechō', 'Meybod', 'Viedma', 'College', 'Tucuruí',
       'Visby', 'Soubre', 'Mt. Pleasant', 'Brae'], dtype=object)

In [23]:
#Create a list out of the cloudiness for the cities
cloudiness = []
cloud_data = dict(df['clouds'])
city_count = 0
for city in cloud_data:
    cloudiness.append(cloud_data[city_count]['all'])
    city_count += 1
cloudiness

[90,
 29,
 1,
 90,
 100,
 75,
 47,
 40,
 0,
 95,
 95,
 48,
 0,
 100,
 100,
 100,
 97,
 89,
 0,
 1,
 75,
 100,
 80,
 98,
 0,
 0,
 86,
 24,
 81,
 100,
 40,
 63,
 90,
 75,
 88,
 78,
 82,
 75,
 100,
 100,
 75,
 18,
 75,
 20,
 1,
 75,
 100,
 1,
 90,
 90,
 6,
 100,
 100,
 90,
 0,
 72,
 75,
 75,
 58,
 20,
 20,
 100,
 12,
 27,
 90,
 75,
 0,
 75,
 1,
 40,
 20,
 90,
 0,
 100,
 20,
 40,
 22,
 100,
 40,
 40,
 81,
 62,
 0,
 69,
 100,
 40,
 99,
 40,
 0,
 90,
 20,
 75,
 20,
 90,
 100,
 1,
 21,
 32,
 90,
 37,
 75,
 100,
 5,
 100,
 20,
 6,
 75,
 40,
 0,
 1,
 84,
 91,
 20,
 84,
 85,
 0,
 29,
 90,
 0,
 40,
 0,
 83,
 0,
 60,
 90,
 75,
 100,
 99,
 90,
 0,
 17,
 75,
 0,
 100,
 38,
 48,
 40,
 95,
 76,
 100,
 90,
 75,
 100,
 0,
 100,
 20,
 0,
 100,
 100,
 40,
 4,
 58,
 95,
 20,
 75,
 90,
 6,
 57,
 1,
 20,
 75,
 40,
 81,
 90,
 20,
 19,
 31,
 100,
 89,
 99,
 15,
 61,
 16,
 0,
 0,
 100,
 76,
 75,
 40,
 20,
 45,
 76,
 0,
 65,
 90,
 100,
 0,
 0,
 82,
 100,
 90,
 13,
 90,
 1,
 1,
 90,
 75,
 68,
 85,
 100,
 99,
 0,
 98,
 47,
 94,
 94,
 75,
 37,
 75,
 100,
 100,
 10,
 0,
 67,
 1,
 0,
 100,
 98,
 1,
 90,
 0,
 75,
 90,
 4,
 85,
 100,
 100,
 90,
 52,
 100,
 75,
 47,
 20,
 20,
 0,
 72,
 20,
 20,
 90,
 0,
 40,
 0,
 90,
 20,
 0,
 33,
 68,
 75,
 19,
 90,
 9,
 0,
 40,
 90,
 100,
 94,
 7,
 75,
 1,
 78,
 100,
 54,
 90,
 1,
 75,
 75,
 90,
 31,
 100,
 20,
 78,
 70,
 39,
 58,
 0,
 40,
 40,
 100,
 76,
 2,
 75,
 22,
 89,
 75,
 0,
 63,
 75,
 22,
 40,
 69,
 40,
 98,
 0,
 0,
 50,
 69,
 78,
 0,
 75,
 60,
 100,
 0,
 96,
 99,
 76,
 77,
 0,
 75,
 75,
 81,
 20,
 75,
 100,
 0,
 16,
 21,
 100,
 20,
 0,
 0,
 90,
 40,
 28,
 2,
 1,
 0,
 50,
 40,
 20,
 40,
 100,
 77,
 71,
 0,
 100,
 75,
 0,
 0,
 89,
 100,
 17,
 100,
 48,
 16,
 20,
 77,
 75,
 64,
 20,
 75,
 5,
 77,
 20,
 0,
 72,
 0,
 78,
 100,
 0,
 40,
 100,
 20,
 0,
 40,
 40,
 90,
 100,
 0,
 100,
 18,
 0,
 0,
 64,
 20,
 75,
 100,
 94,
 17,
 11,
 96,
 100,
 41,
 3,
 40,
 75,
 54,
 100,
 70,
 99,
 1,
 100,
 100,
 20,
 20,
 61,
 40,
 75,
 50,
 5,
 82,
 48,
 20,
 100,
 99,
 100,
 0,
 20,
 0,
 75,
 32,
 0,
 90,
 95,
 94,
 100,
 100,
 75,
 0,
 100,
 100,
 90,
 40,
 100,
 40,
 0,
 69,
 100,
 1,
 75,
 0,
 100,
 100,
 86,
 20,
 1,
 20,
 98,
 98,
 100,
 100,
 76,
 0,
 100,
 0,
 100,
 59,
 20,
 20,
 1,
 100,
 75,
 69,
 13,
 9,
 1,
 81,
 96,
 79,
 40,
 38,
 40,
 75,
 100,
 22,
 47,
 0,
 92,
 94,
 75,
 88,
 2,
 0,
 90,
 100,
 20,
 1,
 100,
 90,
 43,
 75,
 96,
 86,
 68,
 90,
 100,
 20,
 75,
 40,
 100,
 0,
 0,
 95,
 90,
 57,
 95,
 100,
 96,
 21,
 17,
 1,
 75,
 0,
 92,
 25,
 0,
 91,
 90,
 0,
 98,
 100,
 7,
 0,
 0,
 39,
 100,
 0,
 53,
 76,
 1,
 75,
 100,
 20,
 40,
 94,
 75,
 90,
 40,
 90,
 34,
 75,
 0,
 47,
 7,
 82,
 75,
 0,
 10,
 97,
 20,
 100,
 100,
 100,
 18,
 40,
 98,
 100,
 75,
 75,
 25,
 90,
 98,
 81,
 68,
 1,
 62]

In [24]:
#Create a list of the dates
dates_unix = df['dt'].values
dates_unix

array([1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369448e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369427e+09, 1.58369430e+09, 1.58369442e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369425e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369450e+09, 1.58369450e+09,
       1.58369450e+09, 1.58369450e+09, 1.58369467e+09, 1.58369467e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369467e+09, 1.58369446e+09,
       1.58369456e+09, 1.58369438e+09, 1.58369467e+09, 1.58369467e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369467e+09, 1.58369467e+09,
       1.58369454e+09, 1.58369459e+09, 1.58369453e+09, 1.58369467e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369467e+09, 1.58369466e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369453e+09, 1.58369467e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369467e+09, 1.58369467e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369467e+09, 1.58369467e+09,
       1.58369467e+09, 1.58369467e+09, 1.58369441e+09, 1.58369467e+09,
       1.58369452e+09, 1.58369467e+09, 1.58369467e+09, 1.58369445e+09,
       1.58369468e+09, 1.58369468e+09, 1.58369468e+09, 1.58369468e+09,
       1.58369468e+09, 1.58369468e+09, 1.58369468e+09, 1.58369468e+09,
       1.58369454e+09, 1.58369468e+09, 1.58369462e+09, 1.58369460e+09,
       1.58369468e+09, 1.58369468e+09, 1.58369468e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369469e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369474e+09, 1.58369474e+09,
       1.58369474e+09, 1.58369474e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369480e+09, 1.58369480e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369480e+09, 1.58369480e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369480e+09, 1.58369480e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369480e+09, 1.58369480e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369480e+09, 1.58369480e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369480e+09, 1.58369480e+09, 1.58369480e+09, 1.58369480e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369459e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369481e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369481e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369481e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369481e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369479e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369481e+09, 1.58369481e+09, 1.58369481e+09,
       1.58369481e+09, 1.58369470e+09, 1.58369481e+09, 1.58369481e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369468e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369465e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369485e+09, 1.58369485e+09,
       1.58369485e+09, 1.58369485e+09, 1.58369486e+09, 1.58369486e+09,
       1.58369486e+09, 1.58369486e+09, 1.58369486e+09, 1.58369491e+09,
       1.58369491e+09, 1.58369490e+09, 1.58369491e+09, 1.58369491e+09,
       1.58369491e+09, 1.58369491e+09, 1.58369491e+09, 1.58369491e+09,
       1.58369491e+09, 1.58369491e+09, 1.58369467e+09, 1.58369487e+09,
       1.58369491e+09, 1.58369491e+09, 1.58369491e+09, 1.58369491e+09,
       1.58369491e+09, 1.58369491e+09, 1.58369491e+09, 1.58369491e+09,
       1.58369491e+09, 1.58369491e+09, 1.58369491e+09, 1.58369491e+09,
       1.58369491e+09, 1.58369491e+09, 1.58369491e+09, 1.58369491e+09,
       1.58369492e+09, 1.58369486e+09, 1.58369477e+09, 1.58369492e+09,
       1.58369492e+09, 1.58369492e+09, 1.58369492e+09, 1.58369492e+09,
       1.58369492e+09, 1.58369492e+09, 1.58369492e+09, 1.58369492e+09,
       1.58369483e+09, 1.58369492e+09, 1.58369492e+09, 1.58369492e+09,
       1.58369468e+09, 1.58369473e+09, 1.58369492e+09, 1.58369492e+09,
       1.58369492e+09, 1.58369492e+09, 1.58369492e+09, 1.58369492e+09,
       1.58369492e+09, 1.58369492e+09, 1.58369491e+09, 1.58369496e+09,
       1.58369492e+09, 1.58369475e+09, 1.58369496e+09, 1.58369496e+09,
       1.58369496e+09, 1.58369497e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369492e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369496e+09,
       1.58369497e+09, 1.58369483e+09, 1.58369472e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369489e+09, 1.58369473e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369494e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369478e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369497e+09, 1.58369497e+09,
       1.58369497e+09, 1.58369497e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369500e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369491e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369492e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369504e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369505e+09,
       1.58369505e+09, 1.58369505e+09, 1.58369505e+09, 1.58369506e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369494e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369491e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369479e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369509e+09,
       1.58369509e+09, 1.58369509e+09, 1.58369509e+09, 1.58369511e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369514e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369496e+09, 1.58369515e+09, 1.58369499e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369515e+09,
       1.58369515e+09, 1.58369515e+09, 1.58369515e+09, 1.58369491e+09,
       1.58369515e+09, 1.58369489e+09, 1.58369517e+09])

In [25]:
#Create a lists for humidity and max temps
humidity = []
max_temps = []
main_data = dict(df['main'])
city_count = 0
for city in main_data:
    humidity.append(main_data[city_count]['humidity'])
    max_temps.append(main_data[city_count]['temp_max'])
    city_count += 1
print(humidity)
print(max_temps)

[83, 93, 31, 76, 47, 43, 97, 70, 46, 85, 95, 66, 16, 56, 75, 100, 87, 93, 63, 62, 100, 96, 91, 91, 42, 79, 54, 98, 94, 93, 81, 94, 100, 97, 76, 88, 97, 88, 79, 98, 73, 95, 80, 98, 43, 42, 35, 29, 100, 76, 80, 65, 70, 100, 71, 84, 94, 67, 90, 76, 69, 95, 38, 75, 70, 94, 92, 93, 29, 59, 72, 91, 91, 67, 47, 70, 57, 80, 53, 48, 98, 42, 82, 48, 98, 21, 82, 93, 41, 78, 83, 87, 65, 86, 80, 17, 55, 80, 36, 76, 77, 96, 84, 98, 88, 57, 100, 88, 31, 31, 39, 22, 74, 78, 41, 22, 73, 60, 56, 92, 16, 90, 37, 91, 50, 94, 88, 75, 86, 23, 94, 75, 83, 84, 88, 100, 68, 84, 18, 92, 81, 88, 80, 76, 78, 100, 64, 95, 62, 88, 84, 67, 75, 47, 81, 87, 62, 84, 71, 45, 75, 67, 58, 43, 70, 77, 5, 95, 82, 75, 71, 23, 75, 68, 27, 100, 100, 94, 79, 66, 90, 60, 58, 84, 100, 94, 95, 73, 86, 94, 48, 73, 87, 29, 17, 66, 57, 76, 96, 96, 88, 43, 81, 51, 76, 91, 46, 83, 71, 7, 97, 69, 27, 13, 26, 54, 100, 84, 90, 47, 62, 83, 94, 79, 90, 95, 97, 61, 76, 91, 74, 96, 83, 87, 77, 63, 43, 78, 100, 89, 58, 91, 87, 87, 65, 67, 76, 94, 96, 75, 87, 76, 49, 100, 93, 92, 55, 69, 29, 74, 76, 10, 74, 22, 55, 70, 70, 88, 96, 54, 73, 42, 55, 74, 57, 52, 64, 92, 62, 42, 94, 57, 97, 35, 83, 81, 97, 10, 49, 82, 78, 61, 30, 61, 88, 82, 55, 90, 87, 83, 94, 93, 69, 96, 77, 87, 90, 94, 74, 82, 32, 70, 92, 21, 55, 86, 79, 78, 23, 42, 64, 74, 85, 88, 50, 68, 96, 46, 82, 43, 73, 89, 81, 28, 84, 80, 24, 77, 82, 63, 47, 93, 61, 62, 93, 80, 94, 47, 100, 65, 55, 82, 74, 38, 57, 40, 87, 93, 29, 85, 90, 48, 68, 30, 65, 74, 74, 80, 86, 11, 30, 97, 76, 75, 93, 97, 75, 27, 73, 59, 93, 74, 25, 49, 74, 100, 87, 77, 93, 14, 78, 87, 94, 46, 3, 41, 65, 63, 74, 11, 16, 63, 89, 95, 9, 76, 82, 83, 82, 54, 61, 80, 77, 61, 94, 92, 74, 23, 90, 95, 68, 66, 61, 79, 67, 82, 70, 22, 100, 41, 93, 89, 99, 66, 46, 50, 81, 87, 84, 97, 45, 35, 59, 53, 88, 80, 27, 74, 78, 97, 86, 7, 75, 80, 64, 58, 90, 89, 51, 58, 88, 67, 88, 68, 34, 88, 83, 96, 68, 85, 34, 52, 83, 98, 55, 41, 93, 94, 87, 40, 98, 72, 86, 100, 95, 88, 65, 88, 14, 13, 77, 93, 86, 68, 78, 98, 47, 78, 12, 15, 91, 57, 92, 75, 7, 34, 88, 14, 61, 77, 31, 77, 38, 83, 82, 69, 84, 11, 25, 57, 84, 88, 83, 83, 74, 96, 87, 79, 88, 78, 91, 92, 61, 66, 69, 54, 40, 90, 54, 89, 93, 87, 81, 47, 80, 92, 81, 20, 33, 78, 67, 70, 81, 38, 93]
[-14.8, 74.1, 55.4, 52, 55.4, -7.6, -9.24, 86, 71.6, 77.88, 76.44, 81.3, 68.7, 75.99, 82.02, 75.2, 46.99, 46.4, 82.02, 57.99, 69.8, -21.12, 69.01, 64.99, 86.7, -16.44, 78.8, 52, 70.32, 6.96, 48.2, 74.64, 77, 32, -7.44, 57.99, 59.52, 64.4, 80.94, -20.04, 71.6, 17.04, 30.2, 52, 66.99, 8.6, 20.28, 62.01, 78.8, 52, 30.2, 83.46, 85.44, 41, 51.8, 32.52, 77, 60.8, 75, 54, 84.2, 68.88, 69.24, 60.42, -5.01, 77, -13.38, 66, 55.99, 89.6, 64.99, 0.3, -12.3, 17.6, 59, 89.6, 74.64, 79.86, 75.2, 87.8, 52, 66.2, 73.38, 73.56, -5.64, 62.6, 66.2, 37.4, 67.08, 73.99, 86, 48.2, 82.4, 30.2, 24.6, 57.99, -3.48, 33.8, 82, 53.6, 5, 58.98, 86, 70.14, 68, 75.2, 77, 75.99, 33.8, 63, 61.32, 80.94, 86, 71.94, 78.24, 95.16, 69.8, 73.4, 71.6, 33.8, 84.9, 3, 77.88, 73.92, 57.2, 71.6, 17.58, 84.36, 30.2, 69.24, 73.56, -20.2, 75, 17.58, -31.74, 46.4, 64.99, 24.42, 95.34, 70.86, 42.8, 71.6, 82.38, 80.04, 83.28, 75.2, 87.42, 28.74, 28.92, 73.4, 78.42, 74.46, 82.74, 75.2, 51.8, 59, 41.88, 31.62, 54, 62.6, 44.6, 61.14, 64.74, 12.2, -5.8, 62.6, 98.04, 28.38, 76.62, 81.3, 84.36, 93.54, 71.76, 71.6, 58.8, 64.99, 77, 75.2, 84.2, 86, 63.12, 38.64, 83.46, 42.42, 64.99, 69.78, -13.92, 48.72, 55.74, 79.86, 78.06, 68.7, 57.2, 63, 57.99, 15.8, 78.8, 50, 75.18, 30, 8.4, 67.44, 61.5, 82.38, 45.84, 74.28, 71.6, -3.3, 3.2, 87.24, -6.36, 81.12, 36.66, 85.26, 60.01, 48.18, 44.01, 81.48, 72.66, 82, 19.4, 82.4, 77, 80.04, 36.48, 12.54, 74.64, 42.8, 83.1, 77.34, 84.2, 41, 82.4, 57.99, 64.4, 59.16, 51.01, 78.8, 75.2, 63.84, 87.8, 55.38, 50, 45, 12.36, 32, 50, 75.2, 67.08, -14.01, 68.88, 78.24, 72, 28.4, 66.9, 75.18, 70.5, 46.4, 61, 82.92, 41.88, 46.99, 33.8, 59, 91.4, 46, -2.2, -4.38, 47.64, 84.2, 85.26, 72, 78.96, 81.66, 20.64, 95, 39.99, 2.1, 32.34, 96.78, 20.1, 75.2, -27.06, 73.99, -1.86, 51.01, 35.6, 89.58, 72, 77.7, 75.99, 56.1, 75.72, 63.3, 77, 3.9, -17.52, 30.72, 44.6, 81.48, 21.36, 51.8, 35.6, 30, 44.22, 73.74, 76.98, 75.2, 39.2, 64, 68, 89.6, 73.74, 78.8, 19.92, 42.01, 48.72, 77, 71.22, 63.84, 75.2, 32, 76.08, -8.16, 57, 69.8, 67.26, 50, 59, 75.99, 24.8, 73.38, 44.58, 69.78, 78.6, 39.2, 73.92, 66.2, 76.62, 26.6, 88, 30.9, 48.72, 75.36, 57.2, 81.66, 78.8, 90.3, 75.2, 82, 87.8, 78.96, -22, 75.2, 90.3, 69.78, 57, 54.3, 67.62, 28.99, 56.28, 86, 69.8, 75.99, 78.8, -22, 30.2, 81.12, 32.88, 87.42, 41.7, 55.99, 83.64, 43, 66, 68.34, 82.74, 89.6, 65.82, 87.42, 27.84, 82.4, 68.7, 93.2, 37.4, 42.8, 26.04, 48.9, 33.96, 66.2, 82.56, 37.4, 73.4, 91.4, 102, 91.4, 78.8, 66.2, 78.96, 60.8, 105.6, 63, 79.5, 30, 87.6, 83.82, 68, 75, 79, 38.46, 36.12, 35.6, 25.5, 84.36, 23.16, 80.04, 82.4, 93.54, 46.74, 30, 28.4, 87.8, 46.4, 84.2, -27.4, 36.66, 85.44, 62.01, 75.2, 74.46, -8.34, -8.34, -6.18, 51.01, 71.01, 80.6, 48.2, 51.01, -4.56, 75.9, 81.84, 86, 61.32, 73.4, 74.28, 67.26, 62.6, 80.6, 78.24, 25.32, 42.01, 103.8, 67.62, 18.12, 39.2, 64.74, 77.16, 76.98, 84.2, 87.8, 64.4, 57.2, 26.76, 30.2, 94.26, 73.4, -3.12, 72.48, 28.4, 75.18, 93.2, -9.4, 70, 68.34, 87.8, 62.6, 15.42, 33.8, 29.1, 39.99, -28.86, 82.74, 46, 64.4, 13.08, 68, 82, 80.6, 88.5, 100.2, 34.5, 73.56, 39.2, 82.74, 69.01, 60.24, 93.72, 16.5, 90.48, 62.6, -9.4, 45.66, 28.2, 19.2, 93.36, 71.94, 75.2, 93.2, 18.3, 27.84, 75.2, 37.4, 62.94, 77.88, 65.82, 39.2, 77.88, 78.8, 71.94, 45, 80.94, 82.4, 82.4, 78.8, 33.8, 33.8, 55.99, 23, 72.48, 78.8, -9.96, 45, 66.36, 10.4, 79, 61, 72.3, 66.36, 84.2, 71.76, 5.16, 48.2, 50, 80.6, 52.5, 37.4, 51.8, 57.2, 71.58, 12.99, 84.18, 44.01, 81.48, 63, 44.6]

In [26]:
#Create lists for latitude and logitude
lats = []
lons = []
coord_data = dict(df['coord'])
city_count = 0
for city in coord_data:
    lats.append(coord_data[city_count]['lat'])
    lons.append(coord_data[city_count]['lon'])
    city_count += 1
print(lats)
print(lons)

[71.29, 11.48, 42.1, -42.88, 41.14, 55.74, 64.38, -0.74, 27.27, -23.12, -9.08, -9.8, 27.03, -38.55, -3.7, -21.21, 48.85, 46.48, 13.59, 37.46, -21.2, 71.69, -33.59, -34.42, -33.7, 69.38, -38, -46.19, -10.71, 59.12, -54.8, -17.53, -4.28, 69.47, 68.75, -41.07, 26.19, 38.52, -14.25, 77.48, 22.08, 67.68, 69.2, -46.6, -33.65, 69.22, 39.82, 33.19, -13.85, -42.78, 59.7, -0.6, -2.92, 39.25, 36.53, 55.07, -20.34, -41.87, 11, 40.8, -22.97, -0.95, -37.62, -38.27, 62.46, -1.76, 69.7, 37.72, 42.6, -9.97, -33.93, 59.38, 65.58, 65.61, -53.15, -2.76, -24.79, -17.71, 20.89, 7.77, -46.13, 38.3, -16.16, -19.23, 70.63, 39.18, -34.53, 50.7, 24.78, -27.58, 5.41, 35.73, 12.06, 57.79, 68.05, 41.14, 47.87, 39.84, 23.45, 40.56, 78.22, 30.19, 15.85, 0.52, -33.92, 17.02, -9.43, 17.38, 43.65, 37.99, 28.78, -24.83, 6.5, 14.9, 8.53, -31.54, -26.65, 19.73, 26.96, 55.34, -34.62, 52.33, -28.57, -20.57, 37.1, -33.02, 52.27, 3.07, 47.67, 22.42, -16.84, 69.45, -30.18, 50.68, 71.97, -37.83, 32.67, 60.14, 10.39, -3.37, 67.67, -28.77, -3.67, 11.67, -2.02, -15.53, -20.74, 62.86, 39.82, -24.87, 7.99, 13.17, -4.2, 21.35, 35.13, -33.87, 50.05, 57.55, 40.6, -45.58, 61.99, 30.48, 29.11, 49.78, 65.28, 18.39, 13.03, 62.15, 5.97, -10.17, 7.53, 9.51, 19.35, -22.96, 28.22, -35.17, -17, -19.98, -0.95, -9.67, 39.05, 41.12, -24.03, 37.15, -31.43, -8.42, 63.05, 39.37, -45.42, -1.75, 20.34, -25.4, 35.22, 33.66, 41.37, 49.87, 18.73, 46.6, -0.32, 62.17, 66.83, 19.89, -34.73, -11.1, 52.05, -3.8, 26.62, 51.94, 60.82, 20.5, 72.79, 5.95, 43.3, 14.53, 36.29, 26.59, 54.1, -8.14, 17.42, 22.89, 44.02, -8.84, -21.15, -22.67, 43.32, 60.75, -14.27, 40.43, 4.42, -13.2, 19.22, 35.7, 14.35, -37.81, 31.61, 10.6, 46.75, -21.36, 19.21, 16.98, 12.52, -46.28, 32.27, 53.52, 61.99, 63.44, 46.42, -20.52, -10.26, 63.75, -25.4, -23.86, 29.7, 46.81, -8.93, -6.88, 25.02, 44.06, 33.53, -16.48, 38.42, 53.76, 56.8, 34.88, -5.37, 45.52, 52.87, 49.2, 49.28, 13.22, -4.97, 28.47, 17.87, -0.91, 41.76, 15.74, 44.65, 52.47, 64.25, -5.23, 65.01, -23.65, 71.92, 28.54, 53.75, 48.18, 68.12, 9.2, 30.65, -4.85, 22.29, 45.16, 21.97, -43.3, -15.77, 51.4, 73.51, 59.37, 36.37, -1.2, 60.37, 41.02, 69.31, 59.06, 52.63, -3.42, 3.82, -20.41, 49.03, -43.53, 41.3, -7.74, 0.8, 24.09, 42.8, 55.9, 51.7, -7.84, 22.83, 19.3, 28.61, 70.98, -21.55, 53.97, 45.02, -29.95, -10.54, 42.96, 36.09, 27.05, 60.92, 1.74, 27.32, 26.39, -17.89, 53.56, -43.25, -23.7, 5.95, 51.47, -27, 60.06, 37.08, -16.62, 28.37, -20.23, -9.88, -5.4, -5.32, 20.7, 16.86, 7, 64.75, -45.87, -2.97, 25.02, 43.62, 32.13, 29.97, 47.5, 28.17, 16.33, -33.04, -13.7, -19.76, 70.47, 69.65, 2.04, 56.19, 10.17, 44.51, -45.87, 6.3, 42.44, 37.73, -0.22, -2.57, -33.19, -28.55, 6.65, 57.31, -20.32, 29.58, -17.8, 66.4, 38.5, 48.65, 33.42, 57.79, 37.27, -2.67, 62.23, -19.55, 14.3, 13.81, 9.36, 19.28, -33.01, 10.77, 33.6, -23.49, -35.57, -6.22, 58.7, 13.6, 1.57, 23.25, 24.47, -23.67, 27.37, 45.32, 57.05, 54.46, 1, 55.2, -6.22, -17.88, -30.98, 46.43, 41.26, 50.23, -1.94, 63.87, -2.23, 66.42, 53.13, -2.89, 36.03, 22.28, 22.83, 61.95, 67.45, 58.96, 42.07, 25.21, 9.52, 51.38, 46.97, 65.75, -5.55, 4.92, -34.18, 27.98, -20.73, -9.11, 26.3, 37.59, -21.64, 7.98, 46.49, 49.17, 13.35, 14.35, 53.4, 54.32, 29.03, -20.28, 1.17, -16.97, -6.98, 38.73, 42.25, 49.22, 63.84, 4.25, -22.28, 50.6, -4.45, 47.38, 9.18, -33.13, 69.49, -28.65, -3.48, 11.25, 41.53, 58.69, 43.01, 42.97, 45.27, 66.77, -16.7, 34.67, 25.28, 53.94, 26.18, 20.75, 18.42, 7.7, -29.14, 70.86, -7.3, 45.68, 10.57, -35.62, 29.04, -5.18, 51.18, 11.03, 38.3, 64.5, 43.75, 64.9, 51.23, 13.09, 10.7, -15.2, 14.89, 48.83, 64.89, -25.24, 54.67, -19.58, 12.18, -34, 37.08, 6.09, 30.42, -27.45, 41, 0.13, 14.53, -12.97, -8.26, 70.37, 65.85, 35.87, 66.04, -6.47, -20.33, 60.47, 54.55, 25.52, 53.05, -23.99, 34.64, 9.41, -3.75, 18.22, -0.87, 59.45, 46.82, 48.75, 20.22, 26.92, 62.16, 32.69, 32.25, -40.81, 64.86, -3.77, 57.64, 5.79, 32.79, 60.4]
[-156.79, 122.74, -79.24, 147.33, 35.45, -97.86, -173.3, -90.35, 31.15, -134.97, 143.21, -139.03, 67.85, -58.74, 128.18, -159.78, 2.35, 30.73, 102.97, -122.43, -175.2, 128.87, 26.89, 19.23, -53.46, 178.42, -57.56, 168.86, 22.22, 159.97, -68.3, 146.03, -55.98, 25.51, 161.3, 145.92, 107.51, -28.7, 129.55, -69.36, -159.32, 53.15, 33.45, 168.33, 115.33, -51.1, 98.3, -82.53, 136.42, 147.06, 30.79, 73.08, -39.92, 117.79, 37.95, 51.23, 57.76, -73.82, 122.67, -124.16, -42.03, 100.35, -73.65, 141.97, -114.35, -48.8, 170.31, -25.43, -73.97, -67.81, 18.42, 143.3, -171, -37.64, -70.92, -42.27, -50.01, -39.25, -156.47, -72.22, 167.68, -5.27, 33.59, 17.72, 147.92, -84.53, 20.04, -127.42, 81.78, 153.3, 100.34, 140.83, -61.75, -152.41, 39.51, -73.36, 88.12, 69.53, -110.22, 8.32, 15.64, 116.03, -97.07, 25.2, 25.57, 54.09, 159.95, 78.47, 51.2, -84.48, 105.09, 16.98, 2.6, -24.5, 34.8, -68.54, 15.16, -155.09, 56.27, -131.65, -68.33, -109.93, -70.76, 164.28, -113.58, 27.91, 79.17, 172.79, -52.73, 73.65, 36.99, -133.04, -50.21, 156.12, 102.5, 140.77, -17.1, -45.24, -9.31, 135.48, 12.69, 114.6, 152.43, 92.75, 147.27, 167.17, 116.85, 51.89, 109.98, 113.63, 117.06, 44.58, 152.17, -158.09, 140.3, 121.9, 46.88, 29.95, -124.16, -72.07, 5.14, -115.95, 21.29, -74.85, -126.83, 42.45, -9.49, 45.12, 80.42, 123.58, -12.51, -7.57, 83.78, 14.51, 61.22, 173.17, 145.43, 57.61, -80.73, -35.74, -27.98, 80.26, -53.44, 122.38, 152.92, 20.74, 179.32, 49.25, 167.72, -52.24, -77.12, -70.48, -101.83, -86.81, -73.41, -99.36, -103.68, 4.06, 102.35, 49.09, 70.83, 102.13, 135.87, -77.61, 29.25, 102.27, -78.28, 116.28, -115.8, -10.07, -56.15, -56.98, 52.8, 20.92, -76.25, 101.71, 39.61, 159.59, 121.44, -109.91, 87.32, 13.23, 149.2, 167.48, 145.57, -137.51, 50.17, 71.72, -7.35, 49.05, -104.7, 138.45, 121.02, 144.89, 34.76, 39.43, 5.75, 55.77, -69.34, 73.3, -70.03, 169.85, -107.76, -2.49, -49.67, -20.27, 3.91, 57.52, 29.93, -68.51, -51.46, 35.38, -91.21, -100.78, 125.41, 112.21, 90.02, -103.15, -82.13, -151.75, 77.24, 16.1, 59.93, -76.9, -49.12, -122.68, -104.62, 119.7, 31.45, -59.52, 39.83, -16.25, 76.95, 122.88, 86.15, -96.47, -63.57, 96.11, -15.21, -75.68, 53.91, -70.4, 114.08, -80.67, 127.27, -2.75, 13.5, 12.48, -91.16, 21.57, 114.16, 33.28, 83.12, -65.1, 128.73, 128.13, 80.55, 28.61, 6.61, -46.02, 93.04, 39.57, 16.12, 80.86, 29.73, 114.85, 117.25, 57.7, -119.45, 172.63, -96.17, -72.65, 127.4, 32.91, 93.45, -3.52, 30.66, -79.15, 74.27, 97.97, -96.63, 25.97, 167.88, 121.97, -93.22, -71.34, 32.08, 17.14, 28.02, -82.42, -46.05, 98.78, 103.72, 73.54, -39.37, 20.99, -65.31, 133.88, 80.54, 58.46, -50, 71.48, 33.25, -72.71, 129.48, 164.02, -56.09, -80.75, 119.37, -105.2, -99.89, -9.47, 177.48, -67.5, -47.48, 37.27, 4.01, 112.75, 32.53, -111.3, 94.77, -61.7, -71.63, -76.22, -44.31, -68.59, 18.96, 45.34, 52.48, 11.47, 50.26, 170.5, -10.8, -123.33, -25.67, 100.63, 150.8, -68.46, 16.43, -4.2, 88.17, 118.57, -9.5, -63.17, 14.52, 48.67, -53.11, 70.74, 36.7, -87.18, 141.3, -6.59, 169.27, -91.92, -10.83, -79.9, -81.25, 17.94, 77.72, 56.92, -58.8, 138.62, 155.63, 81.48, 26.69, 9.61, 87.07, 54.37, -46.46, 87.2, 55.2, -135.33, 64.85, -52, 80.28, -57.75, 36.89, -54.67, 27.88, 125.37, -63.6, -54.74, 11.3, -80.9, 112.4, 47.2, -40.12, -78.87, 113.57, 87.33, 159.23, 153.68, 126.29, 14.45, 50.81, -84.32, 1.39, 32, 150.85, 150.14, 29.47, -70.67, -114.06, 139.5, 124.89, 93.87, -4.08, -41.05, 49.82, 135.88, -121.94, -15.75, 108, -117.59, -130.32, 21.55, 44.28, 108.97, -48.95, -34.83, -27.07, -2.5, 143.12, -22.43, -54.38, 166.46, 97.52, 26.67, -61.86, 105.15, -64.35, 88.4, 153.62, 23.43, -85.87, -87.42, 99.18, 131.86, 140.51, -66.07, 123.37, -151.02, 138.95, 110.29, 139.92, 127.76, -105.33, -64.62, 28, -59.26, 29.09, 27.42, -111.04, 72.64, 174.5, 114.56, -68.9, -115.57, 20.28, -77.46, -165.41, -81.72, 45.76, -58.65, -1.08, 37.07, 12.15, 5.27, 58.14, -23.71, 130.99, 20.13, -65.75, 125.51, 24.73, 57.51, 124.4, -9.6, 23.43, -115.5, 117.5, 120.55, 40.52, -49.26, 31.11, 24.15, -101.97, -17.34, 16.82, -40.29, 166.1, -3.58, 90.22, 158.65, -46.26, -120.46, 45.06, 103.64, -63.06, 134.08, 112.56, 1.7, -3.42, -87.47, 91.62, -7.17, 128.84, 54.02, -63, -147.8, -49.67, 18.3, -6.61, -79.86, -1.35]

In [27]:
#Create a list for wind speed
wind_speed = []
wind_data = dict(df['wind'])
city_count = 0
for city in wind_data:
    wind_speed.append(wind_data[city_count]['speed'])
    city_count += 1
wind_speed

[8.05,
 1.63,
 8.05,
 4.7,
 2.57,
 14.99,
 2.44,
 10.29,
 11.41,
 19.82,
 5.03,
 10.98,
 7.9,
 7,
 6.04,
 4.7,
 5.82,
 8.23,
 4.05,
 9.17,
 3.36,
 2.91,
 4,
 20.22,
 7.27,
 1.74,
 9.17,
 1.7,
 3.29,
 6.96,
 23.04,
 3.89,
 1.45,
 25.28,
 10.76,
 5.01,
 4.68,
 2.24,
 2.62,
 1.39,
 20.8,
 8.37,
 13.42,
 4.25,
 15.17,
 5.82,
 7.67,
 5.82,
 4.23,
 4.7,
 2.24,
 7.38,
 9.6,
 8.95,
 1.83,
 17.31,
 26.4,
 5.82,
 3.78,
 0.89,
 12.75,
 1.97,
 9.51,
 14.9,
 13.87,
 9.17,
 5.5,
 6.93,
 10.29,
 6.93,
 21.92,
 5.68,
 2.53,
 17.22,
 26.4,
 8.05,
 3.87,
 14.34,
 18.34,
 13.87,
 2.71,
 6.93,
 3,
 7,
 4,
 12.75,
 6.93,
 3.36,
 3.33,
 10.29,
 1.88,
 18.34,
 20.8,
 5.82,
 24.16,
 8.05,
 2.64,
 2.24,
 6.93,
 2.24,
 8.05,
 5.39,
 8.05,
 1.16,
 14.99,
 3.36,
 2.24,
 5.82,
 11.18,
 11.41,
 19.91,
 11.16,
 10.29,
 14.76,
 2.13,
 17.49,
 18.34,
 5.82,
 6.93,
 5.82,
 12.44,
 5.99,
 11.7,
 3.65,
 10.29,
 12.75,
 13.38,
 15.43,
 25.28,
 2.44,
 3.94,
 8.05,
 15.82,
 2.42,
 0.4,
 8.05,
 14.99,
 15.14,
 5.3,
 1.81,
 29.97,
 9.17,
 10.83,
 11.52,
 16.2,
 2.24,
 12.84,
 3.53,
 9.95,
 16.11,
 1.79,
 9.6,
 8.46,
 13.87,
 20.8,
 8.05,
 11.16,
 0.58,
 3.33,
 9.17,
 4.7,
 6.55,
 26.51,
 3.36,
 6.93,
 3.04,
 2.24,
 4.83,
 5.7,
 5.53,
 12.3,
 2.06,
 1.48,
 11.41,
 9.62,
 13.38,
 1.34,
 18.34,
 8.05,
 14.99,
 7.11,
 11.27,
 5.37,
 5.39,
 5.82,
 8.63,
 6.98,
 12.48,
 1.88,
 3.31,
 20.33,
 9.42,
 11.41,
 6.93,
 8.05,
 9.17,
 5.53,
 9.17,
 1.21,
 5.57,
 14.76,
 1.63,
 14.97,
 11.39,
 4.83,
 2.62,
 19.46,
 6.49,
 20.8,
 4.5,
 7.96,
 14.38,
 13.47,
 3.27,
 4.7,
 1.92,
 1.01,
 11.48,
 1.03,
 3.36,
 2.24,
 8.05,
 10.29,
 10.8,
 13.15,
 9.37,
 1.25,
 2.24,
 4.34,
 3.62,
 9.17,
 2.53,
 2.24,
 4.7,
 6.93,
 10.16,
 4.7,
 26.4,
 4.7,
 2.26,
 20.8,
 5.61,
 6.93,
 9.17,
 6.46,
 4.7,
 9.17,
 18.34,
 4.41,
 44.96,
 2.57,
 14.67,
 10.29,
 20.8,
 2.89,
 5.48,
 3.67,
 35.57,
 5.82,
 9.15,
 14.14,
 10.07,
 17.9,
 4.7,
 4.7,
 8.05,
 8.05,
 7.29,
 4.41,
 16.11,
 10.78,
 6.93,
 10.63,
 3.98,
 8.16,
 9.17,
 13.87,
 1.52,
 22.35,
 2.46,
 2.15,
 12.75,
 4.59,
 16.11,
 10.98,
 10.29,
 23.04,
 4.29,
 10.29,
 1.97,
 8.05,
 3.91,
 5.59,
 21.72,
 1.52,
 12.84,
 1.72,
 4,
 3.36,
 14.18,
 9.78,
 4.83,
 17.22,
 11.92,
 3.02,
 1.36,
 0.43,
 18.34,
 3.36,
 10.29,
 20.8,
 8.05,
 2.21,
 9.17,
 7.4,
 12.75,
 2.62,
 10.29,
 11.56,
 1.28,
 19.46,
 16.11,
 8.32,
 2.82,
 14.99,
 14.99,
 6.53,
 1.12,
 6.93,
 19.46,
 3.33,
 2.28,
 4.79,
 12.44,
 10.29,
 6.93,
 12.1,
 4.7,
 5.7,
 17.9,
 3,
 9.93,
 8.66,
 11.59,
 3.36,
 18.01,
 4.7,
 8.75,
 1.12,
 5.82,
 3.36,
 5.26,
 8.95,
 8.05,
 2.62,
 2.68,
 11.41,
 11.25,
 4.03,
 3.36,
 2.19,
 9.17,
 10.29,
 10.29,
 11.41,
 24.16,
 26.4,
 19.17,
 16.8,
 4.43,
 18.92,
 5.41,
 10.87,
 1.68,
 6.93,
 4.23,
 6.13,
 12.75,
 19.28,
 2.8,
 10.94,
 6.93,
 7.05,
 14.99,
 12.75,
 2.24,
 29.73,
 0.74,
 5.97,
 11.41,
 18.16,
 27.51,
 12.17,
 6.93,
 5.99,
 16.11,
 28.86,
 12.75,
 12.15,
 11.41,
 5.66,
 8.05,
 6.2,
 9.35,
 12.68,
 5.75,
 4.43,
 4.7,
 5.82,
 4.41,
 13.02,
 11.41,
 18.37,
 5.35,
 13.13,
 4.54,
 6.93,
 5.08,
 6.64,
 0.49,
 20.8,
 5.82,
 26.4,
 6.93,
 2.24,
 12.03,
 9.6,
 6.93,
 3.36,
 2.86,
 7.23,
 5.79,
 1.41,
 2.24,
 5.82,
 23.04,
 12.75,
 4.47,
 6.51,
 3.94,
 5.28,
 8.05,
 4.92,
 10.29,
 2.28,
 4.45,
 1.12,
 8.05,
 17.63,
 4.32,
 2.86,
 2.68,
 2.42,
 5.19,
 3.36,
 26.51,
 2.86,
 3.24,
 6.93,
 11.41,
 10.27,
 4.7,
 6.46,
 3.36,
 6.53,
 2.24,
 2.98,
 5.1,
 17.22,
 3.91,
 12.75,
 6.71,
 6.93,
 3.36,
 13.87,
 19.46,
 12.73,
 4.03,
 4.72,
 19.46,
 6.64,
 9.15,
 33.51,
 1.41,
 2.73,
 9.17,
 5.06,
 11.41,
 1.43,
 4.14,
 21.85,
 3.04,
 4.7,
 5.97,
 5.99,
 0.78,
 3.15,
 4.12,
 3.15,
 5.82,
 3.8,
 15.57,
 3.44,
 14,
 7.92,
 3.94,
 13.87,
 2.24,
 7.81,
 21.36,
 6.93,
 6.71,
 10.98,
 7.85,
 5.19,
 9.17,
 1.81,
 11.41,
 7.61,
 6.93,
 4.25,
 3.36,
 5.82,
 2.24,
 28.86,
 21.92,
 8.05,
 17.22,
 0.36,
 13.87,
 4.32,
 8.01,
 2.33,
 11.18,
 5.82,
 8.05,
 8.16,
 4.59,
 10.29,
 3.6,
 10.92,
 17.22,
 19.46,
 14.99,
 2.53,
 27.51,
 4.7,
 6.93,
 14.67,
 2.91,
 3.33,
 24.16,
 4.99,
 5.97,
 13.87]

In [28]:
weather_df = pd.DataFrame({"City":names, "Cloudiness":cloudiness, "Country":countries, "Dates":dates_unix, "Humidity":humidity,"Lat":lats, "Lng":lons, "Max Temp":max_temps, "Wind Speed":wind_speed})
weather_df = weather_df.set_index('City')
weather_df.head()

,Cloudiness,Country,Dates,Humidity,Lat,Lng,Max Temp,Wind Speed
City,,,,,,,,
Barrow,90,US,1.583694e+09,83,71.29,-156.79,-14.8,8.05
Intampilan,29,PH,1.583694e+09,93,11.48,122.74,74.1,1.63
Jamestown,1,US,1.583694e+09,31,42.10,-79.24,55.4,8.05
Hobart,90,AU,1.583694e+09,76,-42.88,147.33,52.0,4.70
Vezirköprü,100,TR,1.583694e+09,47,41.14,35.45,55.4,2.57

In [29]:
#Convert dataframe to csv
weather_df.to_csv(output_data_file, sep=',')

In [30]:
#Read back in csv so you don't have to recall API
weather_data = pd.read_csv(output_data_file)
weather_data.head()

,City,Cloudiness,Country,Dates,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Barrow,90,US,1.583694e+09,83,71.29,-156.79,-14.8,8.05
1,Intampilan,29,PH,1.583694e+09,93,11.48,122.74,74.1,1.63
2,Jamestown,1,US,1.583694e+09,31,42.10,-79.24,55.4,8.05
3,Hobart,90,AU,1.583694e+09,76,-42.88,147.33,52.0,4.70
4,Vezirköprü,100,TR,1.583694e+09,47,41.14,35.45,55.4,2.57