In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
# Import API key
from config import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

594

In [80]:
#URL for OpenWeather API
url = "http://api.openweathermap.org/data/2.5/weather?q="
#List to hold API responses
responses = []
#For loop to pull data for each of the first 60 cities in the list
#Put for loop into function for easy calling to not exceed call limit per minute
def api_call(x, y):
    for city in cities[x:y]:
        city_url = url + f"{city}&appid={api_key}"
        responses.append(requests.get(city_url).json())

In [81]:
#Calling function to get the data over time (placed in different cells to avoid this problem)
api_call(0,60)

In [84]:
#Call for data to city index 120
api_call(60,121)

In [86]:
#to index 181
api_call(121, 182)

In [88]:
#to index 242
api_call(182,243)

In [90]:
#to index 302
api_call(243,303)

In [92]:
#to index 362
api_call(303, 363)

In [94]:
#to index 422
api_call(363, 423)

In [96]:
#to index 482
api_call(423,483)

In [98]:
#to index 542
api_call(483,543)

In [100]:
#to index 594(end)
api_call(543,595)

In [101]:
#check that data was pulled
len(responses)

594

In [54]:
#Create a dataframe of the API data
df = pd.DataFrame(responses)
#drop rows with no data
index_drop = df.loc[df['cod'] == '404'].index.to_list()
df = df.drop(index_drop)
df = df.reset_index(drop=True)
df.head()

,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod,rain,message,snow
0,"{'lon': -121.42, 'lat': 38.42}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 291.65, 'feels_like': 290.46, 'temp_m...",16093.0,"{'speed': 1.5, 'deg': 270}",{'all': 1},1.583435e+09,"{'type': 1, 'id': 3933, 'country': 'US', 'sunr...",-28800.0,5364271.0,Laguna,200,NaN,NaN,NaN
1,"{'lon': 127.47, 'lat': 63.92}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 258.11, 'feels_like': 251.28, 'temp_m...",NaN,"{'speed': 4.84, 'deg': 102}",{'all': 100},1.583435e+09,"{'country': 'RU', 'sunrise': 1583446814, 'suns...",32400.0,2017215.0,Sangar,200,NaN,NaN,NaN
2,"{'lon': 131.55, 'lat': 48.98}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 259.94, 'feels_like': 255.95, 'temp_m...",NaN,"{'speed': 0.9, 'deg': 331}",{'all': 58},1.583435e+09,"{'country': 'RU', 'sunrise': 1583444767, 'suns...",36000.0,2023360.0,Izvestkovyy,200,NaN,NaN,NaN
3,"{'lon': -134.97, 'lat': -23.12}","[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,"{'temp': 298.28, 'feels_like': 295.31, 'temp_m...",NaN,"{'speed': 9.93, 'deg': 105}",{'all': 7},1.583435e+09,"{'country': 'PF', 'sunrise': 1583420274, 'suns...",-32400.0,4030556.0,Rikitea,200,{'3h': 0.63},NaN,NaN
4,"{'lon': -156.47, 'lat': 20.89}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 294.87, 'feels_like': 296.79, 'temp_m...",16093.0,"{'speed': 0.95, 'deg': 48}",{'all': 75},1.583435e+09,"{'type': 1, 'id': 7875, 'country': 'US', 'sunr...",-36000.0,5847411.0,Kahului,200,NaN,NaN,NaN

In [55]:
#Create a list out of the countries for the cities
countries = []
sys_data = dict(df['sys'])
city_count = 0
for city in sys_data:
    countries.append(sys_data[city_count]['country'])
    city_count += 1
countries

['US',
 'RU',
 'RU',
 'PF',
 'US',
 'AR',
 'RU',
 'US',
 'US',
 'MV',
 'ZA',
 'US',
 'ZA',
 'KZ',
 'KI',
 'CA',
 'IS',
 'NO',
 'MM',
 'US',
 'CL',
 'PE',
 'BR',
 'JP',
 'ZA',
 'FR',
 'VE',
 'GB',
 'MU',
 'ID',
 'CK',
 'BR',
 'RE',
 'ZM',
 'MX',
 'US',
 'CV',
 'ZA',
 'CA',
 'MG',
 'NG',
 'TO',
 'RE',
 'RU',
 'NZ',
 'MU',
 'ID',
 'CL',
 'US',
 'AU',
 'CL',
 'ZA',
 'CA',
 'RU',
 'PF',
 'NO']

In [62]:
#Create a list of the city names
names = df['name'].values
names

array(['Laguna', 'Sangar', 'Izvestkovyy', 'Rikitea', 'Kahului', 'Ushuaia',
       'Provideniya', 'North Bend', 'Albany', 'Hithadhoo',
       'Port Elizabeth', '‘Āhuimanu', 'East London', 'Ordzhonīkīdze',
       'Butaritari', 'Yellowknife', 'Grindavik', 'Vardø', 'Shwebo',
       'Jamestown', 'Coquimbo', 'Paita', 'Itapeva', 'Shingū',
       'Port Alfred', 'Tourlaville', 'San Cristobal', 'Brae',
       'Quatre Cocos', 'Gorontalo', 'Avarua', 'Olinda', 'Saint-Philippe',
       'Kalabo', 'Coahuayana Viejo', 'Nome', 'São Filipe', 'Saldanha',
       'Norman Wells', 'Vangaindrano', 'Yenagoa', 'Vaini', 'Saint-Pierre',
       'Khatanga', 'Mataura', 'Mahébourg', 'Sibolga', 'Punta Arenas',
       'Rockport', 'Busselton', 'Coyhaique', 'Sundumbili', 'Campbellton',
       'Pevek', 'Faanui', 'Båtsfjord'], dtype=object)

In [65]:
#Create a list out of the cloudiness for the cities
cloudiness = []
cloud_data = dict(df['clouds'])
city_count = 0
for city in cloud_data:
    cloudiness.append(cloud_data[city_count]['all'])
    city_count += 1
cloudiness

[1,
 100,
 58,
 7,
 75,
 40,
 100,
 75,
 20,
 56,
 20,
 40,
 75,
 0,
 100,
 75,
 40,
 75,
 0,
 1,
 90,
 13,
 4,
 0,
 50,
 90,
 20,
 100,
 40,
 100,
 6,
 17,
 17,
 22,
 75,
 90,
 0,
 5,
 20,
 40,
 92,
 20,
 100,
 99,
 22,
 40,
 100,
 93,
 1,
 99,
 41,
 0,
 100,
 75,
 43,
 75]

In [68]:
#Create a list of the dates
dates_unix = df['dt'].values
dates_unix

array([1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343448e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343480e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343482e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343485e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343470e+09,
       1.58343471e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09,
       1.58343495e+09, 1.58343495e+09, 1.58343495e+09, 1.58343495e+09])

In [71]:
#Create a lists for humidity and max temps
humidity = []
max_temps = []
main_data = dict(df['main'])
city_count = 0
for city in main_data:
    humidity.append(main_data[city_count]['humidity'])
    max_temps.append(main_data[city_count]['temp_max'])
    city_count += 1
print(humidity)
print(max_temps)

[55, 89, 88, 76, 77, 49, 98, 71, 42, 69, 83, 78, 88, 88, 80, 63, 86, 79, 43, 59, 82, 100, 74, 67, 93, 87, 43, 86, 88, 94, 78, 66, 88, 92, 50, 84, 54, 60, 74, 85, 72, 100, 88, 97, 94, 88, 94, 37, 40, 57, 40, 78, 81, 80, 64, 79]
[294.82, 258.11, 259.94, 298.28, 295.37, 293.15, 258.98, 284.26, 282.04, 301.86, 295.15, 297.04, 297.15, 257.95, 301.43, 249.26, 274.15, 270.15, 296.1, 281.48, 290.15, 290.15, 296.67, 278.02, 295.37, 280.93, 306.15, 277.15, 301.15, 296.63, 301.15, 304.15, 300.15, 293.27, 299.15, 255.15, 297.79, 296.15, 243.15, 295.14, 302.18, 296.15, 300.15, 244.8, 279.26, 301.15, 295.67, 295.15, 295.15, 290.93, 296.15, 296.15, 270.22, 250.01, 300.91, 270.15]

In [70]:
#Create lists for latitude and logitude
lats = []
lons = []
coord_data = dict(df['coord'])
city_count = 0
for city in coord_data:
    lats.append(coord_data[city_count]['lat'])
    lons.append(coord_data[city_count]['lon'])
    city_count += 1
print(lats)
print(lons)

[38.42, 63.92, 48.98, -23.12, 20.89, -54.8, 64.38, 43.41, 42.6, -0.6, -33.92, 21.44, -33.02, 52.44, 3.07, 62.46, 63.84, 70.37, 22.57, 42.1, -29.95, -5.09, -23.98, 33.73, -33.59, 49.64, 7.77, 60.4, -20.21, 0.54, -21.21, -8.01, -21.36, -14.97, 18.73, 64.5, 14.9, -33.01, 65.28, -23.35, 4.92, -21.2, -21.34, 71.97, -46.19, -20.41, 1.74, -53.15, 28.02, -33.65, -45.58, -29.13, 48.01, 69.7, -16.48, 70.63]
[-121.42, 127.47, 131.55, -134.97, -156.47, -68.3, -173.3, -124.22, -73.97, 73.08, 25.57, -157.84, 27.91, 61.74, 172.79, -114.35, -22.43, 31.11, 95.7, -79.24, -71.34, -81.11, -48.88, 135.98, 26.89, -1.57, -72.22, -1.35, 57.76, 123.06, -159.78, -34.86, 55.77, 22.68, -103.68, -165.41, -24.5, 17.94, -126.83, 47.6, 6.26, -175.2, 55.48, 102.5, 168.86, 57.7, 98.78, -70.92, -97.05, 115.33, -72.07, 31.4, -66.67, 170.31, -151.75, 29.72]

In [72]:
#Create a list for wind speed
wind_speed = []
wind_data = dict(df['wind'])
city_count = 0
for city in wind_data:
    wind_speed.append(wind_data[city_count]['speed'])
    city_count += 1
wind_speed

[1.5,
 4.84,
 0.9,
 9.93,
 0.95,
 5.1,
 2.22,
 4.6,
 4.6,
 3.34,
 1.5,
 0.29,
 4.6,
 3.55,
 8.04,
 3.1,
 9.8,
 8.7,
 2.07,
 2.6,
 4.6,
 6.7,
 1.47,
 6.78,
 5.1,
 8.7,
 5.1,
 4.1,
 1.5,
 1.92,
 1,
 4.6,
 3.1,
 2.4,
 4.1,
 6.2,
 8.52,
 3.6,
 3.1,
 2.12,
 2.99,
 2.1,
 3.1,
 4.68,
 0.7,
 1.5,
 1.24,
 6.7,
 6.7,
 6.47,
 4.1,
 3.6,
 7.84,
 4.76,
 1.81,
 8.7]

In [77]:
weather_df = pd.DataFrame({"City":names, "Cloudiness":cloudiness, "Country":countries, "Dates":dates_unix, "Humidity":humidity,"Lat":lats, "Lng":lons, "Max Temp":max_temps, "Wind Speed":wind_speed})
weather_df = weather_df.set_index('City')
weather_df.head()

,Cloudiness,Country,Dates,Humidity,Lat,Lng,Max Temp,Wind Speed
City,,,,,,,,
Laguna,1,US,1.583435e+09,55,38.42,-121.42,294.82,1.50
Sangar,100,RU,1.583435e+09,89,63.92,127.47,258.11,4.84
Izvestkovyy,58,RU,1.583435e+09,88,48.98,131.55,259.94,0.90
Rikitea,7,PF,1.583435e+09,76,-23.12,-134.97,298.28,9.93
Kahului,75,US,1.583435e+09,77,20.89,-156.47,295.37,0.95

In [78]:
#Convert dataframe to csv
weather_df.to_csv(output_data_file, sep=',')

In [87]:
len(responses)

182